[2017-06-16 13:50] jukben opened #1 "Add proper Flow check"

[2017-06-16 13:51] jukben opened #2 "Create demo page and edit readme"
Create better readme / API description and so on.

[2017-06-19 07:08] jvorcak opened #3 "Outputs "undefined" when no item is found"
Try to enter `:+1:` + `Enter`

The result is `:+1:undefined`

[2017-06-19 07:11] jvorcak opened #4 "Publish to npm"
After #3 is fixed, could you please publish this to npm?

[2017-06-19 08:32] #3 closed, assigned to jukben

[2017-06-19 08:35] jukben opened #5 "Incorrect behavior when you try to edit matched token."

[2017-06-19 10:39] #5 closed, assigned to nobody

[2017-06-19 10:59] jukben opened #6 "Don't reset caret position after selecting item from suggestion list"

[2017-06-19 11:01] #6 closed, assigned to nobody

[2017-06-19 11:36] jukben opened #7 "Buggy behavior when text ending with tab (not space)"

[2017-06-19 11:37] jukben opened #8 "Write basic tests"

[2017-06-19 11:38] #7 closed, assigned to nobody

[2017-06-19 12:20] jukben opened #9 "Proper code documentation"

[2017-06-26 12:13] jukben opened #10 "Possibility to pass class name as a prop `className`"

[2017-06-26 13:51] jukben opened #11 "Allow also mouse input to select the item"

[2017-07-09 18:21] #11 closed, assigned to jukben

[2017-07-09 18:23] #8 closed, assigned to nobody

[2017-07-09 18:31] #10 closed, assigned to jukben

[2017-07-13 18:48] #1 closed, assigned to jukben

[2017-07-26 18:49] #9 closed, assigned to jukben

[2017-07-26 18:49] #2 closed, assigned to nobody

[2017-07-26 18:50] #4 closed, assigned to jukben

[2017-08-17 05:06] TomClarkson opened #15 "Please provide value on select"
Can you please call onChange with the value after an item is selected. I think instead of calling onChange with the change event it would be better to call it with the value in both places.

https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/Textarea.jsx#L122

[2017-08-17 07:39] jukben commented on #15
Yeah, it makes sense. I'm just wondering If I have to call onChange with the `event` instance, or simply with an object. What do you think? @TomClarkson

Anyway, thanks for the interest in it. It makes me happy! 🤓

[2017-08-17 08:03] jukben commented on #15
I think it's good to be consistent with the normal `textarea` API. I expecting that the parameter of onChange would be an `event` object. What about to introduce another handler `onItemChange`, which will provide the currently selected item. Otherwise, it will be the breaking change.

[2017-08-17 21:56] TomClarkson commented on #15
Yeah onItemChange will work 😄

My use case is I need to update the display on an item when someone is typing in a form so I need the live value of the text input.

[2017-08-18 06:24] jukben commented on #15
Ok, I will go for `onChangeItem: (selectedItem) => void`.

Anyway I don't don't follow properly to your use case. How would this help in a case of providing "the live value of the text input"? Could you please try it again? Every use case could help to understand how people want to use it.

[2017-08-18 12:20] jukben commented on #15
I see it's actually bug! Good catch. The `onChange` is not triggered after selection. Thanks, stay tuned for the new version.

[2017-08-18 12:56] #15 closed

[2017-08-18 12:58] jukben commented on #15
Fixed in version v1.1.2. Please, check it out. @TomClarkson

[2017-09-20 09:55] JokerNN opened #16 "Listener doesn't work after first unmount of Textarea"
Hello, first of all thanks for your library

I faced an issue while using this.
After first unmount of Textarea main component list navigation with keys becomes impossible.
It happens because Textarea.jsx calls `removeAll` here https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/Textarea.jsx#L92

Which removes `keydown` event listener forever (until page refresh).
Next mounts

[2017-09-20 10:06] jukben commented on #16
Hi,

thanks for feedback and issue reports. I'll also look on it, I wasn't aware of this behavior.

Anyway PR is welcomed!

[2017-09-20 11:15] jukben commented on #16
Closed by #16

[2017-09-20 11:15] #16 closed

[2017-10-16 14:36] milosimr opened #19 "Trigger output does nothing in case of string-based items"
Hi,

I'm having issues with configuring trigger output, whatever I put in that function, all I get as a result is the value of selected item. My guess is that output field gets ignored when I assign trigger prop.

Here's the code:

[code]

Thanks

[2017-10-16 15:20] jukben commented on #19
Just for to be sure, could you please provide your `ItemComponent` an example of data which provides `dataProvider`?

The value which returns `output` function will replace the current text which has trigged a suggestion.

Example:

[code]

[2017-10-16 15:33] milosimr commented on #19
Not sure I understand. `dataProvider` or in this case `this.allProperties` for me is a list of strings.

Therefore my item component is:
[code]

Just to clarify, when I select a value, for instance `LIDAR_Falldist`, as a result I get `#LIDAR_Falldist` and output function isn't called at all, where according to documentation I should get `#LIDAR_Falldist#`, or whatever I put there?

Thanks for the

[2017-10-16 15:39] jukben commented on #19
I see! You are right. That's, unfortunately, a bug. I'll send a fix for it later today.

Thanks again for discovering it! 🙏

[2017-10-16 15:43] jukben commented on #19
Anway, @milosimr I'm wondering what do you say about to change a default behavior of `output`  function for the string based item to `<current-trigger-char>item<current-trigger-char>`. I personally think that it will be better. I would introduce it as a breaking change.

[2017-10-16 15:51] milosimr commented on #19
@jukben Is this a bug with string values only? I do have these properties in a list of objects, and will use it eventually, since I plan on rendering different options depending on property type.

As for inserting I actually need to insert a query, more like 'property in('some value', 'another value') etc, I was using trigger chars just for testing, but yeah I can see how wrapping the value in tri

[2017-10-16 17:09] jukben commented on #19
@milosimr The bug that you found only affecting the string-based items. For object-based items you have to define output function and it's just fine (see my example above).

This is not currently possible. But I like your idea. What about to introduce optional param, let's say `minChar: integer` with default: 1, number of character you have to type to trigger the autocomplete suggestion?

[2017-10-16 17:55] milosimr commented on #19
@jukben I got it to work with objects. Thanks.

Yeah, that sounds good. If I get the time the next couple of days, will look into implementing it.

[2017-10-16 18:55] #19 closed

[2017-10-16 19:13] jukben commented on #19
Hey @milosimr, I was kinda bored so I fix the issue and I've added the new `minChar` prop. So you could use it like `minChar={0}` for your case. I've hope you like it!

🎉 1.2.0
`yarn add @webscopeio/react-textarea-autocomplete`

Anyway if you figure out something else, feel free to propose it. Also about docs, if something was unclear, please feel free to send PR for changes. I'd appreciate it.

[2017-10-16 19:21] milosimr commented on #19
@jukben Thanks man, you're great.

Another thing that would be nice to have is ability to position the cursor in the output string. I don't have an idea how that would be achieved though...

[2017-10-17 08:22] jukben commented on #19
@milosimr I'm glad I was able to help. If you like the package, please ⭐️  it, it means a lot for us.

So you mean something like you want to specify where will be caret after user select item from suggestion box? We could handle this. Options could be `string: "start", "end" or position: "integer"` (position in the final string). What do you think?

[2017-10-17 08:22] jukben opened #23 "Ability to position the cursor in the output string"
A customizable final position of the cursor in the outputted string

Options could be `"start" | "end" | number` (position in the final string). Default should be "end"

Proposal:
[code]

Any thoughts?

[2017-10-17 10:00] milosimr commented on #23
@jukben Yeah giving integer position would work, and I can see that would be easy to implement, but my idea was to have a special character in the output string, and interpolate position from it...

[2017-10-17 10:49] jukben commented on #23
Could you please give me some example?

[2017-10-17 10:53] milosimr commented on #23
@jukben Sure, let me know if this needs some clarification

[code]

[2017-10-17 12:45] jukben commented on #23
@milosimr Hey, to be honest, I don't really like the idea of `interpolated` position based on some magic character. You could easily count on which position the caret should appear:

[code]

How do you imagine that multiple positions should work?

[2017-10-17 13:28] milosimr commented on #23
@jukben That's true, that solution is simpler and much easier to implement...

As for multiple positions, there could be a special character e.g. <Tab> that would jump to the next position. Again I understand its harder to implement that, and solution will probably require a hack of some sorts, given the nature of textarea.

[2017-10-18 07:55] jukben commented on #23
@milosimr I personally think that jumping functionality is out of the scope of this plugin. I could go for my proposal about caretPosition, that's reasonable.

Anyway, I could provide getters/setters for textarea's caret position, so you can implement it by yourself.

[2017-10-18 08:48] milosimr commented on #23
@jukben Ok, getters/setters would be nice, I understand that my proposals are out of the scope of this plugin, I have some other needs for customization, once I get to that point i'll fork the project and make them.

Thanks for all the help.

[2017-10-18 13:08] jukben opened #24 "Provide getters/setters and listener for the caret position"
Based on the idea from #23

It would be nice to provide getter and setter for caret position.

[code]

We should use our dependency `textarea-caret` as much as possible.

Could help:
https://stackoverflow.com/questions/36978192/how-to-get-text-cursor-position-after-keypress-event-happened

[2017-10-18 13:13] jukben commented on #23
Good. I opened Issue for getters/setters and this could be implemented also as we discussed. So if someone is interested, please follow my proposal for implementing this.

[2017-10-18 20:16] marcinlichwala commented on #24
I would like to give it a go :)

[2017-10-19 08:40] jukben commented on #24
@marcinlichwala Hi @marcinlichwala! Of course, go for it! Don't hesitate to ask for help. Just mention me in PR and together we'll figure it out for sure.

[2017-10-23 12:06] Olovorr commented on #23
I am on it 🙂

[2017-10-23 12:08] jukben commented on #23
Cool! I can't wait to see your PR ❤️

[2017-10-23 12:20] jukben opened #26 "Export all Flow-types into separate file called "types.js""
Export all Flow-types into separate file called "types.js", especially from https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/Textarea.jsx#L10-L51

[2017-10-23 13:54] danilowoz commented on #26
@jukben I would like to take this issue, could you please assign to me?

[2017-10-23 14:11] davidsonsns commented on #26
@jukben  I was already typing the same thing hueuhe

[2017-10-23 14:44] jukben commented on #26
Thanks, guys, for the interest! @danilowoz you were first, so go on. XD

@davidsonsns Next time ❤️ XD

[2017-10-23 15:34] jukben commented on #23
Need to refactor `getTextToReplace` props from `List.jsx` (should be solved instead in `onSelect` method inside of `Textarea.jsx`) see https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/List.jsx#L74

[2017-10-24 06:05] marcinlichwala commented on #24
Hello @jukben,

I'm a bit confused. You mention 'integer' types in the issue description whereas you added the textarea-caret as the recommended dependency. Do you want the methods to return the caret position based on the coordinates or the setSelectionRange type of position? There is already setTextareaCaret method so I believe it might be a duplication.

[2017-10-24 06:42] marcinlichwala commented on #24
Created a PR for the integer position (not coordinates).
Still have some issues with one test which I think would be valuable.
https://github.com/webscopeio/react-textarea-autocomplete/pull/28

[2017-10-24 07:47] jukben commented on #24
Hey, you are right. But you did it with an ease! I will continue in PR. Good job anyway.

[2017-10-31 12:11] jukben commented on #26
If you are still interested @davidsonsns, you could go for it. 👍

[2017-11-08 14:20] davidsonsns commented on #26
Sorry for the delay, I'll start today. Tks :smile:

[2017-11-08 14:27] jukben commented on #26
@davidsonsns great, I'm looking forward to your PR. (you could get inspiration from https://github.com/webscopeio/react-textarea-autocomplete/pull/27)

[2017-11-09 11:50] jukben commented on #26
close #31

[2017-11-09 11:50] #26 closed

[2017-11-13 08:30] dapicester opened #32 "Allow to pass className to List and Item"
I use bootstrap for styling my app and it would be great if I could pass a css class for:
- the `<ul>` element in the `List` component (in addition to the `rta__list` class)
- the `<li>` element in the `Item` component (in addition to the `rta__item` class)

[2017-11-13 09:34] jukben commented on #32
Hi @dapicester 👋

Thanks for a feedback, good idea. Are you interested in making a PR for it? If not I will take care of it. 👍

[2017-11-13 09:57] dapicester commented on #32
Hi @jukben, I justed forked the repo, let me see what I can do ...

[2017-11-13 10:15] jukben commented on #32
Cool! 💪

You can use logic similar to this https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/Textarea.jsx#L318 you just need to extend propTypes for Item, List, and Textarea and pass the correct props to components themselves.

I propose naming `classNameList`, `classNameItem`. What do you think?

If you will have any question just open a PR for this and we could discuss it

[2017-11-13 11:06] dapicester commented on #32
I already wrote some code [into my fork](https://github.com/dapicester/react-textarea-autocomplete), not ready yet for a PR, as I haven't written any test yet, but enough to play with it with the dev playground.

But I am stuck with the bootstrap style, if I add `dropdown-menu` to the list then the autocomplete is rendered but not visible. I'll come back to this later ...

[2017-11-19 11:26] jukben commented on #32
@dapicester It will be probably something with bootstrap styles. If you figure it out, please share your solution, I could be handy for the others.

[2017-11-20 07:08] dapicester commented on #32
Hi, yes it was some bootstrap thing, so as a workaround I just copied the style I needed and adde to my CSS:
[code]

You know, I prefer to avoid `!important` but I had to go ahead on my tasks. I hope I can come back to this and make a PR later ...

[2017-11-29 11:55] jukben commented on #24
Closed by https://github.com/webscopeio/react-textarea-autocomplete/commit/c9e09d6eb79bba0a760a1f8b8e4c2bdfa4835973 💪

[2017-11-29 11:55] #24 closed

[2017-11-29 11:58] Olovorr commented on #23
Hey guys, in the end, it looks like I just cannot find time to do this 😞 If someone can pick it up, please do.

[2017-12-02 00:17] kajmagnus opened #33 "UMD build so I won't have to use es6 and 'require'?"
Hi, I'm building my React.js app by concatenating a bunch of JS files, using `gulp.concat(...)`; I don't use `require ...`. What about creating an UMD build? Or something transpiled to ES5 that works directly in the browser without a module loader? Which is included in react-textarea-autocomplete's npm distribution?

Anyway this looks like a nice library, I like the demos.

[2017-12-02 11:55] jukben commented on #33
Thanks for the feedback. Hmm... to be honest, why not! I will look into this. It would be nice if you could use this library even if you use the flow without a module loader. 👍

[2017-12-02 19:32] jukben commented on #33
Hi @kajmagnus I've added **umd** build, so try it out and ⭐️ repo if you like it.

[Example CodePen](https://codepen.io/jukben/pen/dZaNma) 💪

[2017-12-02 19:32] #33 closed

[2017-12-03 07:40] kajmagnus commented on #33
Wow that was fast :-)  I'm using it now, spent some of the night removing At.js, which I used before, and which works really great, but it depends on jQuery.

React-Textarea-Autocomplete is only 60% the size of At.js, (minified gzipped) so I saved 4 kb :- ) And I'll be able to remove jQuery from my editor Javascript bundle, saving another 30 kb :- )

I found 4 things you might consider issues / bu

[2017-12-03 07:57] kajmagnus commented on #33
B.t.w. I'm using it with React 16.1, works fine thus far (I noticed the package.json depends on React 15.x).

[2017-12-03 09:27] jukben commented on #33
Such a lovely feedback! I'm really glad that you found this library useful it mean's lot of for me!

First of all, I'll fix the peer dependency, because React 16 is supported too though. 👍

I like all ideas!

1) That makes sense. I've basically copied GitHub functionality – there is no such a thing as a click outside for close the suggestion list. But I like the idea so far, so let's avoid breakin

[2017-12-03 11:00] kajmagnus commented on #33
(to everyone else: This is off-topic :- ))

Ok :- ) I think the demo videeo in the readme is great. It clearly & concisely shows what this is.

Typo: this: _"GitHub's like functionality"_ should be _"GitHub like functionality"_

Usually the Installation section seems to be where people mention the UMD build, look for example here: https://github.com/ReactTraining/react-router/tree/master/packages/

[2017-12-03 11:03] kajmagnus commented on #33
About point 4: Not so important, maybe not worth fixing. But anyway, if it takes long before the promise gets resolved, because the sever is slow — then, when I continue typing, the "Loading..." box doesn't go away, although I've typed _"@username and more other stuff afterwards"_ already. — But in reality, the server will "always" be fast & this won't happen :- )

[2017-12-03 11:09] jukben commented on #33
I see! Very good point indeed, I will look on it also. Thanks for the tips how to improve the Readme, I will look at it after, or you could send PR if you are willing.

Anyway, in package JSON there is `peerDeps`: react>=15, but maybe it has to be more explicitly ^15.0.0 || ^16.0.0. Did you get some error about it?

If you talking about `devDeps`. I don't want to upgrade it because of enzyme tests

[2017-12-03 17:40] #23 closed

[2017-12-03 18:08] jukben opened #36 "Add prop which close the dropdown when clicking outside"
Discussion: https://github.com/webscopeio/react-textarea-autocomplete/issues/33

[2017-12-03 18:09] jukben opened #37 "If the editor is at the bottom of the window, better open it upwards instead."
Discussion: #33

Something like https://popper.js.org/#example3, maybe we should use it. I need to dig more into it.

[2017-12-03 18:10] jukben opened #38 "Cancel loading when we are already in other word context"
Discussion: https://github.com/webscopeio/react-textarea-autocomplete/issues/33

[2017-12-03 19:03] jukben opened #40 "Default cursor: pointer on item hover"

[2017-12-03 19:06] #32 closed

[2017-12-03 19:30] #40 closed

[2017-12-03 19:38] #36 closed

[2017-12-03 20:16] #38 closed

[2017-12-04 13:00] jvorcak opened #43 "If you try to select second emoji without space separation, it only selects the last one"
What other services are doing is that they add one space after an emoji is selected, I think it could solve this problem
![rta-bug](https://user-images.githubusercontent.com/1083817/33554028-632807dc-d8fb-11e7-8d6f-6a93ba25272f.gif)

[2017-12-10 07:06] kajmagnus commented on #33
Hi, I haven't noticed any warnings about the "wrong" React version, no.

[2017-12-10 07:06] kajmagnus commented on #33
Hi, @jukben, I haven't noticed any warnings about the "wrong" React version, no.

[2018-01-26 10:35] kn4rfy opened #46 "Enable search on autocomplete"
Enable searching on the autocomplete

Ex.
you type ':pa' the choices are {'package', 'page'}
then you type ':pac' the choice results is {'package'}

[2018-01-26 11:19] jukben commented on #46
Thanks for the issue @kn4rfy. Anyway, I hope, this is out of the scope of this library. This should be done in `dataProvider` function, where you can define whatever behavior you want. See the example for the similar use case. http://react-textarea-autocomplete.surge.sh/

https://github.com/webscopeio/react-textarea-autocomplete#appjs

For sorter implementation, you can use great https://github.co

[2018-01-26 14:01] #46 closed

[2018-01-28 20:08] #43 closed

[2018-01-28 22:45] jukben opened #48 "Use `loose` flag in Babel settings"
As Andarist correctly suggested in his PR https://github.com/webscopeio/react-textarea-autocomplete/pull/47 I would be nice if you could use `loose` to achieve more performant code.

Unfortunately, the preset `preset-react-create-app` what we've used don't support it. We should find a replacement for it.

[2018-02-19 04:10] ellerynz opened #50 "Selected item replaces from last space rather than the last trigger"
Hi there,

Thanks for putting this together! I was wondering if there is a way to prevent the following behaviour:

![screencast 2018-02-19 15-41](https://user-images.githubusercontent.com/1263717/36362218-7027662a-1597-11e8-8469-e6a8306cc81a.gif)

[code]

Looks like everything from/including the last space is replaced but I was expect everything from/including the last _trigger_ to be replaced.

[2018-02-19 08:58] jukben commented on #50
👋Hi! This is also reproducible on https://codepen.io/jukben/pen/bYZqvR which is always the last version. It's definitely a bug, sorry about it I will take a look ASAP. 💪 Thanks for reporting!

[2018-02-19 22:05] #50 closed

[2018-02-19 22:09] jukben commented on #50
I have good news @ellerynz. This should be fixed in v1.5.2! Take it while it's hot. 🔥

Please, if you like the package, like it, share it. Your support means a lot to me. Thanks again for creating an issue. 💪

[2018-02-19 22:18] ellerynz commented on #50
@jukben Nice speedy fix! Thanks!

![cheers](https://user-images.githubusercontent.com/1263717/36399199-a290b2fe-162f-11e8-9320-e14d7e7f652a.gif)

[2018-03-02 11:07] jvorcak opened #51 "How does one actually get a content from this component?"
I want to create a wrapper around this component and I'm struggling with how to use some getter/setter for a content.

I'm missing something as `value` and `onChange` properties. How could one let's say use this with Redux?

Or maybe it's just missing in a docs?

[2018-03-02 11:20] jvorcak commented on #51
Oh now I see it

`Note: Every other props than the mentioned below will be propagated to textarea itself`

[2018-03-02 11:20] #51 closed

[2018-03-02 14:31] jvorcak opened #53 "Keep the position of the popup at the beginning of the phrase"
I'm trying to create a markdown editor around this tool and I want to replicate the one Github has. I'm trying to focus on detail and UX and one of the things that bothers me that popup moves as I type. I find it quite distracting.

If you notice, the one on Github stays positioned at the place where I started typing `triggerChar`

Don't you think it would be nicer / more user friendly?

PS: API i

[2018-03-04 11:02] jukben commented on #53
That's definitely a great idea! I'm going to introduce this as a feature. 💪

I'm probably going to release this as a default behavior (and new control prop `movePopupAsYouType` to enforce the current one behavior) along with `caretPosition: "next" as a default in the next major release `2.0`.

Thanks for the idea I totally agree that it would be better for the UX.

[2018-03-04 20:19] marcinziolo opened #54 "Error when try trigger by '['"
There is js error during select item when trigger character is "[".

Uncaught SyntaxError: Invalid regular expression: /[\S*$/: Unterminated character class

[2018-03-04 23:55] jukben commented on #54
Good catch! We should always escape the trigger char. This should be an easy fix. Are you interested in sending PR? Otherwise, stay tuned I hope I find the time for it this week. 👍

[2018-03-05 12:11] #54 closed

[2018-03-05 12:16] jukben commented on #54
Hi @marcinziolo I have good news, this should be fixed in 1.5.3, check it out. 🚀

Thanks for reporting!

[2018-03-05 23:42] jukben commented on #53
Closed by https://github.com/webscopeio/react-textarea-autocomplete/commit/bff575a1b9e66bd69a21fa1671433480e5afb3f7

[2018-03-05 23:42] #53 closed

[2018-03-05 23:50] jukben commented on #53
Check out the 2.0.0 version! 🚀 Hope you like it

[2018-03-06 00:02] jukben opened #55 "Change the gif from the readme to match version's 2.0 behavior"

[2018-03-16 16:56] andypearson opened #56 "Option to tweak token regexp"
I'd like to be able to use tokens that look like this: `:This/That:`.

Unfortunately, the default regexp uses `\w` for the "wordy" part of the token, which means at the moment my autocompletes only receive `:This`.

I'd like to be able to override the latter part of the token regexp. Is there a sketchy way for me to do this? I've tried overriding `this.tokenRegExp` in a parent components' `compone

[2018-03-16 20:38] jukben commented on #56
Thank you very much for creating this issue and your kind words! You are the best. 🙏

First of all, let's clear this -

That should work, you've actually discovered a pretty well-hidden bug. Because of [this LOC](https://github.com/webscopeio/react-textarea-autocomplete/commit/160771924711df1d0bbb6747ce491fb043f2ed40#diff-ee6345004ea202a13c7c2a5f6021d272L293) we have recreated regex every time whe

[2018-03-16 20:42] jukben commented on #56
Closed in https://github.com/webscopeio/react-textarea-autocomplete/commit/160771924711df1d0bbb6747ce491fb043f2ed40

[2018-03-16 20:42] #56 closed

[2018-03-16 20:45] jukben commented on #56
If you still think there is a reason for tweaking regexp per trigger, I'm interested in some specifics examples. Currently, I think there is no reason for it. Anyway, feel free to continue in this thread.

[2018-03-21 13:52] andypearson commented on #56
@jukben thanks for much for sorting this out! I tried the update this on my project this morning and it works perfectly. :D

My regexp per trigger suggestion was really a grab at the most customisable possibility for my requirement, but I don't have anything that'd make use of the functionality at the moment so it's not worth thinking about.

Thanks again for your time and effort!

[2018-04-05 20:56] corbt opened #58 "Whitespace in token"
Hey there! Thanks so much for this library. I'm trying to use this to implement @ mentions to mention other people. However, since our community works on full names instead of usernames, there is generally a whitespace in the name in question; eg. "Bob Smith". Is there a way I can configure this library to accept one whitespace and pass it on to my dataProvider? Thanks!

[2018-04-06 07:41] jukben commented on #58
Hi @corbt! Great issue request. Unfortunately, currently, it's not possible. But I like this use-case I will jump into it and I will try to figure out a solution for it. Stay tuned! 🙏

[2018-04-09 17:35] corbt commented on #58
Wow, thanks for the quick work!

Unfortunately I'm running into an issue with testing. After cloning locally and running both `yarn link` commands I'm getting an error `Module not found: Error: Can't resolve '@webscopeio/react-textarea-autocomplete'`. Not sure what's going on with that. :(

[2018-04-10 09:18] jukben commented on #58
In the cloned repo you should run `yarn link` and in the target project (in your project I believe) you should be able to run `yarn link @webscopeio/react-textarea-autocomplete` (or something like this, see the output of the previous command).

Although you can just clone and install the repo, run `yarn dev` and test it in the "example". 👍

Let me know.

[2018-04-10 17:39] corbt commented on #58
FYI I'm on vacation for the next 3 weeks, so I'll have to look at this once I get back. :(

[2018-04-14 10:01] jukben commented on #58
@corbt no problem I can wait as soon you are the only one who has requested this feature is crucial to meet your needs. Get back to me after your vacation and enjoy! 🌴

[2018-04-25 14:04] BenoKop opened #60 "Emoji research fails on specific string"
Hi all,

here is the code of my component, based on the examples:

[code]
The component is great but i just discovered that when i type **":ls"** to research an emoji, it crashes with the following error:

**RTA: dataProvider fails: textToReplace is null Check the documentation or create issue if you think it's bug. https://github.com/webscopeio/react-textarea-autocomplete/issues
index.js:2178
Typ

[2018-04-25 15:10] jukben commented on #60
Hi! Thanks for an excellent issue. I was able to track it down in within of minutes.

Let's start with the less obvious question.

1)

I hope you are looking for [caretPosition](https://github.com/webscopeio/react-textarea-autocomplete#trigger-type). Is it correct? Was it this part Readme not obvious? Do you have an idea how to make it better, I would appreciate PR.

[code]
This should make a tric

[2018-04-26 06:29] BenoKop commented on #60
Hi! Thanks for the fast reply !

It was exactly what i was looking for the caretPosition !
For the docs, i didn't understand the syntax used ine the "Trigger type" part but your example here is perfect.

About the emoji research, I tested **:fs** and you're right, it crashed too. But i'm not sure you looked about **:ls**.

Can i get the new release with a simple npm install ?

Thanks in advance an

[2018-04-26 16:07] jukben commented on #60
I'm glad, that it helped.

Both `:ls` and `:fs` will match `{name: "feelsgood", char: null}` which is wrong, because `char` has to return "string" which is unique, if not you have to provide also `key` which has to be unique then.

You can update `https://www.npmjs.com/package/@jukben/emoji-search` to avoid such a `null` emojis.

If you update `react-textarea-autocomplete` you will get nice info a

[2018-04-26 16:07] #60 closed

[2018-04-27 07:15] BenoKop commented on #60
Works like charm, thanks a lot.

[2018-04-30 10:13] coniel opened #61 "Text touching inserted content is replaced."
Hello, first of all, thank you for this great component! It has been incredibly useful for me. I'm using it as part of a latex editor plugin for draft js. Users can add variables into the latex using @mentions. The issue I'm having is that when a mention is used, any text after it that is not separated by a space, is removed. Here's a gif demonstrating the problem:
![word replaced](https://user-im

[2018-04-30 14:09] coniel commented on #61
Thanks for the quick reply. Having the option to either replace the entire word or replace the text up to caret would be a simple solution.

Whilst replacing up to the caret as Github's autocomplete does isn't ideal, I think that trying to avoid that would add more complexity to the component than it's worth. I don't think someone moving the caret back and editing the text (as opposed to using a b

[2018-04-30 14:11] coniel opened #62 "Popup not triggered if the trigger character is attached to text containing another trigger."
The popup is not triggered when there is no space between the typed trigger and other text which already includes a trigger. It works fine if I omit the @ symbol from the inserted text. However, I need to keep the @ symbol in the inserted text as it is used later to find variables in the text and replace them with their values.

I tried reading through the code but couldn't figure out what would c

[2018-04-30 14:44] jukben commented on #61
So what's your use case? Would you be satisfied with such a solution? I would probably do the same as GitHub. I would replace up to the last word based on last entered character. In your case, it would be just "insert" (in your gif use-case). Is it makes sense for you?

You are using `minChar: 0`, Am I right?

[2018-04-30 14:50] jukben commented on #62
Hey! I don't think it's problem in RTA. Could you please provide repro. Easiest would use this CodePen https://codepen.io/jukben/pen/bYZqvR as start.

What I'm thinking is about is that you return an empty array in [] from the provider, because you are seeking for @}. Could you please check it?

Anyway, thanks for this issues. I'm going to help you as much as possible!

[2018-04-30 14:59] coniel commented on #61
Yes, a Github style solution would be fine. I am indeed using `minChar: 0`. Here's another gif demonstrating a more realistic use case. As you can see, when I try and replace the first @foo variable I lose the rest of the content:
![changing variable](https://user-images.githubusercontent.com/1728027/39434069-31f10f60-4ca0-11e8-93a7-c21c349df649.gif)

[2018-04-30 15:03] jukben commented on #61
Thanks for the GIF, I will try to come with something ASAP. 👍

[2018-04-30 16:47] coniel commented on #62
It is indeed returning []. However, when I write something like in the gif:

`\frac{@foo}{@}`

 it's not seeking `@}` but it's seeking `foo}{@}`. Basically, the RegEx is finding the wrong @.

Here's a pen showing basically how I use it: https://codepen.io/anon/pen/LmWbNQ

Thank you so much for the help btw!

[2018-05-01 09:12] jukben commented on #62
I see. 👍 That's actually another feature. Your use case is very specifics so I'm wondering how to solve it properly. This component is build to follow trigger point to the end of the word but in your case, it might be good to have some "boundaries" set, not sure how, though.

Do you have any idea what would you expect? Reset the trigger when another trigger is typed – @first@second - in current im

[2018-05-01 13:54] LouisCuvelier opened #63 "Show popup only if trigger is after a whitespace (like Github)"
Hi,

Thanks for this library. It saves me a lot of work 😄

But, I have a problem. Is it possible to show popup only if trigger is after a whitespace ?
Basically, I want to prevent popup fired when I'm typing something like

Instead, I only want to fire popup when there is a space before the trigger, like this:

Github works like that.

Thanks in advance for your help 😉

[2018-05-02 11:49] jukben commented on #63
Hi

I can implement this, but I have to figure out how to configure this. I'd like to keep the components modular and few already existing project relying on the current behavior.

[2018-05-02 13:34] LouisCuvelier commented on #63
Maybe a boolean to activate or not the space before ?

[2018-05-02 13:47] jukben commented on #63
Yeah, I'm going to introduce such an option for this case. 👍

[2018-05-04 08:29] BenoKop commented on #37
Is there something for this issue ?

[2018-05-12 23:51] jvorcak opened #64 "Possible IE issue with an Event object"
I'm trying to create a higher abstraction on top of this awesome plugin. Something not that low level - OOTB solution with support for emojis & markdown.

However, in IE I experience this issue.

Steps to reproduce:
1) Clone https://github.com/webscopeio/react-markdown-editor
2) `yarn` && `yarn start`
3) In a second terminal, `cd example && yarn && yarn start`
4) Open page in IE11

I've included `

[2018-05-13 09:11] jukben commented on #37
@BenoKop this feature is still pending. Are you interested in sending PR for it?

[2018-05-13 09:12] jukben commented on #58
It's in master, once you get time to test it out @corbt fell free to get to me with a feedback.

[2018-05-13 09:12] #58 closed

[2018-05-13 11:39] jukben commented on #64
We are using Babel preset from CRA https://github.com/facebook/create-react-app/tree/next/packages/babel-preset-react-app

Object.entries is not polyfilled by default and it should be polyfilled manually.
https://github.com/facebook/create-react-app/issues/1856

But `babel-polyfill` should be enough to do so. How did you include it?

[2018-05-13 14:49] #63 closed

[2018-05-13 14:52] jukben commented on #63
Hey! @LouisCuvelier you can try to install the version from the master. The deploy will be soon. (this week I hope). Hope you like it!

[2018-05-14 07:28] jukben commented on #62
I will try to enhance the behavior for your use-case as a part of #61. It's quite huge change, though. But I hope it should be possible to solve it. Stay tuned. 👍

[2018-05-17 10:29] LouisCuvelier commented on #63
Juste perfect ! Thanks 😄

[2018-05-23 16:34] oklas opened #67 "The doc about trigger option `output` does not match actual code."
The doc about trigger option `output`  does not match actual code.

The doc says that item must be unique. And the item unique id is received as result of calling function specified in trigger option `output`. This function must return object with optional field named `key` wich will be considered as item unique id. Doc declares a prototype:

[code]

But the code currently ignore field `key` from

[2018-05-23 19:13] jukben commented on #67
Great catch!

[2018-05-23 19:55] jukben commented on #67
Released https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v2.2.1

Thanks 🙏

[2018-05-23 19:55] #67 closed

[2018-05-23 19:56] #55 closed

[2018-05-23 20:28] oklas commented on #67
Thank you too for great work on this library and for quick accept merge and release!

[2018-05-24 07:38] #64 closed

[2018-05-24 17:54] monochromer opened #70 "Scroll item to stay always in the viewport (when list is set to overflow for example)"
How to scroll a height-limited list with options when they get in focus?

[2018-05-25 06:38] jukben commented on #70
Hi, could you please be more specific? Do you want to limit the autocomplete options and make them scrollable? Then you need to provide your own styles. The defaults one don't handle this case.

Something like this: https://codepen.io/jukben/pen/erwRbr?editors=0110?

[2018-05-25 07:13] monochromer commented on #70
I want clicking on the arrow up and down, the list was scrolled until the element got the focus

[2018-05-25 07:34] jukben commented on #70
Got it. This could be easily fixed with https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView. In the case when `rta__list` has `overflow: scroll` with it we can ensure that element is still in the view. 👍

Are you interested in sending PR for it?

[2018-05-25 09:31] monochromer commented on #70
Thanks!
I don't think I'll have time to learn source code for PR.

[2018-05-25 10:18] jukben commented on #70
OK. I hope I will do it soon, it should be quite straightforward.

[2018-05-30 05:23] kajmagnus opened #71 "What's new in v2?"
Hi! I was thinking about upgrading, in case of bugs & security fixes, and noticed that now there's a v2.2.2 — I'm using v1.4.x. I didn't find any changelog or release notes for 1.5 or 2.x — are they available somewhere or maybe if you have time would you like to write a bit about what's changed? can I upgrade from 1.4 to 2.2.2 without errors? or maybe I need to rewrite how I use react-texta.-autoc

[2018-05-30 07:16] jukben commented on #71
Hi, sorry about it, you should be totally fine. There is the breaking change https://github.com/webscopeio/react-textarea-autocomplete/commit/bff575a1b9e66bd69a21fa1671433480e5afb3f7

I'll update the release log – I started to write them recently 🤓

[2018-05-30 07:16] #71 closed

[2018-06-10 16:51] fanlyze opened #72 "Whether Chrome browser is not supported"
Chrome browser's version is 68.0.3440.7.
![20180611004713](https://user-images.githubusercontent.com/35338391/41203996-8f15ea44-6d11-11e8-8e22-9f943b263fad.png)

[2018-06-10 18:39] jukben commented on #72
Could you please try a different browser? This looks like an issue with Unicode characters on your machine, not with the package itself. (it's just matter of implementation of provider function.)

[2018-06-10 19:21] #70 closed

[2018-06-11 15:13] fanlyze commented on #72
It works in Firefox. so,how do I solve this problem in Chrome? @jukben

[2018-06-11 15:19] jukben commented on #72
Could you please try this page? http://getemoji.com/ I'm afraid it's bug in your Chrome and thus is completely unrelated with the package.

[2018-06-11 15:28] fanlyze commented on #72
@jukben I open http://getemoji.com/ with chrome.
![20180611232346](https://user-images.githubusercontent.com/35338391/41241085-b0862b40-6dce-11e8-98ba-57069439d68e.png)
This is the question of my chrome browser.

[2018-06-11 20:08] jukben commented on #72
That's very weird. I would recommend you to reinstall the Chrome.

[2018-06-11 20:08] #72 closed

[2018-06-26 11:09] oklas opened #73 "Keyboard events does not worked when another instance has been unmounted"
Keyboard events does not worked when another instance has been unmounted

The reason is that the Listener object stops listening for events without counting the amount of listerens that requested to start listening.

[2018-06-26 13:35] jukben commented on #73
Should be fixed and deployed in 2.2.3

[2018-06-26 13:35] #73 closed

[2018-07-07 15:38] monochromer commented on #70
Thanks for this feature!
I think for UX this settings would be better for moving to next item
[code]
and
[code]
for moving to previous item

[2018-07-07 15:53] jukben commented on #70
That actually makes a sense! Good point. I will try to cook it up.

[2018-07-09 17:43] jukben commented on #70
@monochromer feel free to test https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v2.3.0

[2018-07-16 15:21] glimow opened #77 "Custom callback-based trigger"
This looks like a very nicely done component. I wondered if there is a more general way to trigger an autocomplete than using string matching, like a function that would take current text and caret position and returns a boolean e.g.
[code]
As I want to provide grammar-based autocomplete rather than character-based one.

[2018-07-24 10:39] jukben commented on #77
That's actually interesting idea. I will try to play with it and come up with some solution. 👍

[2018-07-24 13:58] michauzo opened #78 "Selection resets after new props are passed"
If there is any change to the container component while the autocomplete dropdown is opened the selected item is reset to the first in the list. It happens even if the list did not change.

[2018-07-24 15:37] glimow commented on #77
Thanks for the answer, that's awesome ! I'll definitely keep an eye on this

[2018-07-27 10:58] #78 closed

[2018-07-27 11:03] jukben commented on #78
Deployed as https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v2.3.1

[2018-07-29 03:42] fanlyze opened #80 "ERROR in index-5353b33322ce416969f9.js from UglifyJs"
When i use react-textarea-autocomplete like the demo, there is a error. That is the error of webpack to build:
ERROR in index-5353b33322ce416969f9.js from UglifyJs
Invalid assignment [index-5353b33322ce416969f9.js:6835,89]

Whether the use of "import emoji from "@jukben/emoji-search"" does't support “new webpack.optimize.UglifyJsPlugin(),”

[2018-07-31 16:30] jukben commented on #80
Thanks for reporting! This was actually issue with my different library, fixed here https://github.com/jukben/emoji-search/releases/tag/v1.1.6

[2018-07-31 16:30] #80 closed

[2018-07-31 17:07] jukben commented on #77
Hey, @glimow could you please elaborate more how you're thinking about this feature?

Let's say that I will create such a prop, but right now for example trigger character has relation to `dataProvider`. With your approach, I can only decide when to open the autocomplete, but which data should I load?

It probably doesn't make a sense to have such a possibility bound to some trigger char, right?

[2018-08-03 16:30] fanlyze commented on #80
Hi @jukben
When i used v1.1.6, there was another problem. It can't load emoji:
![default](https://user-images.githubusercontent.com/35338391/43654320-6ec984f8-977d-11e8-85cd-ae76a74403a0.png)

![default](https://user-images.githubusercontent.com/35338391/43654369-9436ae6e-977d-11e8-9449-ee6f6c453ccc.png)

[2018-08-03 18:06] jukben commented on #80
Ah, sorry @fanlyze install version 1.1.7, I did refactor 👍 Should be fine now.

[2018-08-15 23:27] #61 closed

[2018-08-15 23:28] #62 closed

[2018-08-15 23:31] jukben commented on #61
Hey, @coniel I've finally found some time for this – could you check it out the newest version https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v2.3.2? I hope I was able to fix it quite elegantly and it should work for your use-case well.

[2018-08-15 23:35] jukben commented on #77
Ping @glimow 😸

[2018-08-23 07:55] jukben commented on #77
Closing for now for inactivity.

[2018-08-23 07:55] #77 closed

[2018-08-28 14:32] cdakin1 opened #82 "Any experiences using this with nested data (i.e. populating triggers in a tree structure)?"
For instance, I'm using this in a markdown editor to populate JSON data that gets transformed like a variable. So if I have:
[code]
and my triggers are `{` and `.`, I want users to be able to type
`{user.`
and have the next autocomplete populate with `name` and `age`.

So far I'm dynamically populating the list of triggers but they're all on the top level. I was thinking about keeping a string of

[2018-08-29 11:38] jukben commented on #82
Hey! That's an interesting idea, someone created an issue about "custom based" trigger, check it out this https://github.com/webscopeio/react-textarea-autocomplete/issues/77 You might want to collab on it as well, I'm curious about your ideas.

Anyway, if you want to achieve JSON autocomplete always start with `{` char, it should be possible to just implement `{` trigger to return all possible pat

[2018-09-13 14:04] audiolion opened #84 "Including Trigger in selection output breaks functionality"
Hello 👋 ,

If you have a trigger like `@` which opens up a list of users to select from, and the output is `@audiolion`, if you try to do another `@` in the same textarea and select `@webscopeio`, the selection will *replace* the first `@audiolion` with `@webscopeio` instead of inserting the new autocomplete.

Seems fairly obvious that it looks for the first occurrence of the trigger in the docume

[2018-09-13 14:10] jukben commented on #84
Hi! Thanks for the bug report, could you please create repro demo (you can use this pen as a start https://codepen.io/jukben/pen/bYZqvR)?

[2018-09-13 15:28] audiolion commented on #84
@jukben oh man, awesome codepen starter, here is a repro: https://codepen.io/yankasuto/pen/WgyObR

Try inserting two autocompletes in a row and you will see it happen

My apologies, you have to have "allowWhitespace: true" for the bug to occur.

[2018-09-13 20:01] jukben commented on #84
Great! I see, that's actually feature because `allowWhitespace: true`, why do you need it in the first time?

[2018-09-13 20:02] jukben commented on #84
Great! I see, that's actually a feature because allowWhitespace: true, why do you need it in the first time?

allowWhitespace is there for a reason if your tokens are with space, so you want to replace all occurrences no matter whitespaces.

[2018-09-13 20:03] jukben commented on #84
Great! I see, that's actually a feature because allowWhitespace: true, why do you need it in the first time?

`allowWhitespace` is there for a reason if your tokens are with a space, so you want to replace all the occurrences no matter whitespaces.

[2018-09-13 20:05] jukben commented on #84
Great! I see, that's actually a feature because `allowWhitespace: true`, why do you event need it?

`allowWhitespace` is there for a reason if your tokens are with a space, so you want to replace all the occurrences no matter whitespaces.

[2018-09-13 20:17] audiolion commented on #84
Ok I made a gif of using the codepen, you are saying this is the intended behavior:

![](https://media.giphy.com/media/fGI4c8TGI2yASbw3lU/giphy.gif)

If it is then you can close this issue. To me it makes it so you can never have two of the same autocomplete items in the same text area.

[2018-09-14 12:51] jukben commented on #84
Oh, I see, that's definitely buggy. I mean, the best you can do is to avoid `allowWhitespace` at all, but since it's there I will do my best to fix it.

![rta_fix_whitespace](https://user-images.githubusercontent.com/8135252/45551251-905f3d80-b82d-11e8-8fb1-da4c6b8624d9.gif)

This looks fine, don't you say?

[2018-09-14 14:00] audiolion commented on #84
Yeah I actually am avoiding `allowWhitespace` currently. That fix looks good!

[2018-09-14 16:17] #84 closed

[2018-09-18 21:35] coniel commented on #61
I owe you long overdue thanks!

I only just had time to upgrade and test it out. It works perfectly. Thank you for fixing #62 as well!

[2018-09-19 08:00] jukben commented on #61
Nice! I'm super glad, that I've fixed your case. If you are using React Textarea Autocomplete somewhere where it might have a reason to mention it, create PR for it! I'd be more than happy about it. Cheers!

[2018-09-25 19:06] #82 closed

[2018-09-28 19:05] jtokoph opened #86 "Scrolled down text area causes auto-complete list to appear out of alignment"
![screen shot 2018-09-28 at 12 03 56](https://user-images.githubusercontent.com/346225/46228353-af25ff80-c316-11e8-883a-7f787d7c806c.png)

The title and screenshot should explain most of the problem.

I would expect that even while scrolled down in the text area that the auto-complete options would still appear in-line with the cursor.

[2018-09-30 19:34] jukben commented on #86
Thanks for the issue, that's definitely a bug I'm going to fix this ASAP.

[2018-09-30 19:44] jtokoph commented on #86
It seems like it's just off by `scrollTop` but I would have thought the cursor library being used would have this figured out. I've worked around it myself by just auto-resizing the textarea to expand and never scroll.

[2018-10-02 14:07] #86 closed

[2018-10-02 14:15] jukben commented on #86
Hey @jtokoph! I've just released the new version which has fixed this issue. As you can check it out here: https://codepen.io/jukben/pen/bYZqvR. Hope you like it! 🚀

[2018-10-22 08:10] obiwarn opened #88 "Feature request: IDE like auto suggest"
I desperately search for a function like this:

1. no trigger char (any char in the auto suggest list opens suggestions)
2. filter suggest list by what is typed (types ja => only show "java" and "jabber" in the list)

Is it hard to implement sth. like this?

![image](https://i.stack.imgur.com/k9FX0.gif)

[2018-10-26 13:04] O4epegb opened #89 "Refactor: componentWillReceiveProps deprecation"
Since `componentWillReceiveProps` hook is deprecated, consider other options? https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops

[2018-10-27 16:57] jukben commented on #89
I know about it, I'd be more than happy to accept a PR for this. 👍

[2018-10-27 16:58] jukben commented on #88
I guess this is out of the scope of this library. 😞

[2018-10-27 16:58] #88 closed

[2018-11-01 05:39] jukben commented on #89
Adressed in https://github.com/webscopeio/react-textarea-autocomplete/pull/90

[2018-11-01 05:39] #89 closed

[2018-11-01 14:56] O4epegb opened #91 "Multi character trigger?"
I see that it is not possible to use this library with multi character trigger. Could it be implemented in the future or is it out of scope?

I am already using it for mentions, but current use case is commands, for example, first you type `/` and get list of commands, then after selecting one, for example `/kick` you get list with all chat members.

[2018-11-01 16:57] jukben commented on #91
Interesting idea and good example use case, I'll think about it. 👍

[2018-11-01 19:38] jukben opened #93 "Use React.forwardRef"
Let's preserve `innerRef` to avoid breaking change.

https://reactjs.org/docs/forwarding-refs.html#displaying-a-custom-name-in-devtools

[2018-11-01 19:43] jukben commented on #48
Let's check it out if something has changed past months on the side of `preset-react-create-app`

[2018-11-05 13:28] O4epegb opened #94 "Textarea doesn't update its value if value is set to empty string"
I updated to v3 and something is wrong.
It seems that textarea doesn't update its value if value is set to empty string.

[2018-11-05 18:20] #94 closed

[2018-11-06 09:31] O4epegb commented on #94
Great, thanks!

[2018-11-06 12:18] superandrew213 opened #96 "Debounce dataProvider for remote data"
Performing server lookups on every letter change might not be necessary. Receiving the delayed results one after another doesn't look that nice either.

What do you think about adding an option to debounce dataProvider?

Another option would be to provide a `results` prop and a `onTokenChange` prop? This way we can have more control.

Or maybe I am missing something and you can already do this.

[2018-11-07 04:43] superandrew213 commented on #96
I got it to work using `debounce-promise`. Lodash.debounce was not working properly.

[2018-11-07 04:43] #96 closed

[2018-11-07 17:31] jukben commented on #96
Yeah! The data provider is able to eat Promise, so it should be fine to use whatever solution you might like.

[2018-11-08 05:14] jukben commented on #91
Hey, just to let you know I started to work on this and it seems it should be relatively easy. I have to check for potential corner cases, but eventually, I would be able possible. I'll keep this thread up to date. 💪

[2018-11-08 16:02] O4epegb commented on #91
Oh, that's actually very nice, thank you!

[2018-11-11 12:07] jukben commented on #93
It's actually doesn't make a sense, as far we're using the ref for methods. (setCaretPosition...)

[2018-11-11 12:07] #93 closed

[2018-11-11 12:32] jukben commented on #91
Hey, @O4epegb I've just deployed new version 3.1.1 which should solve your issue.

Check out this: https://codepen.io/jukben/pen/aQmLZG (type `/` to start)

What do you say about it?

[2018-11-11 12:32] #91 closed

[2018-11-16 12:44] guidogast opened #100 "Multiple triggers not working without space separation"
I have a scenario where I want to autocomplete a certain syntax. The idea is that there are no spaces in this syntax. I've created a Code Pin with the scenario: https://codepen.io/dagorbattle/pen/NEgBdQ
I'd like to auto complete the following:
`[country.id]`

According to the code, when starting to type `[` it should show: 'country' and 'person'. After the insert, when I type a . I'd like it to op

[2018-11-16 12:58] jukben commented on #100
Hi, thanks for the issue.

There are two things:

1)

This is a bug - reggresion I guess made it somewhere between the latest versions.

2)

Sometimes you want that behavior, sometimes not. I guess I need to figure out some API how to allow this kind of "interfering" behavior. Not sure, maybe it would be possible to write something like

[code]

this would match also the other triggers if there wi

[2018-11-16 14:06] guidogast commented on #100
Hi,

It would be great if the first issue could be resolved. For the second one, your suggestion seems good.

Thanks for the quick reply!

[2018-11-16 14:11] jukben opened #101 "When using caretPosition: "end", the autocomplete box doesn't disappear when pressing Enter/Tab."
#100

@guidogast

[2018-11-19 19:21] diogeneshamilton opened #102 "Selection not working correctly on touch device"
Version: 3.1.1
Video recorded on iOS Simulator (so these clicks are actually Touch events)
![bug 1](https://user-images.githubusercontent.com/983876/48729733-4d8f5c80-ec06-11e8-8665-d19483afb523.gif)

I believe this may have been introduced in this PR: https://github.com/webscopeio/react-textarea-autocomplete/pull/90

It may be alleviated by adding onTouchStart as the same as the OnClick handler.

[2018-11-19 22:30] jukben commented on #102
Hey Matthew!

Thanks for the ☕️, you are the best! ❤️ I'll take a look on this, I believe it might be easy fix.

[2018-11-19 22:43] jukben commented on #102
May I ask you which simulator do you use? I've just tried the default project (you can clone the repo and do `yarn dev`) on iPhone XR 12.1 and everything (I mean, the viewport is not responsive, but) works fine. You can click on the item, the item gets replaced and autocomplete is closed.

[2018-11-19 23:13] jukben commented on #102
Hey. You are right `onStartTouch` solved the issue in my case. Could you try it in your scenario? I've just deployed v3.1.2 🙏

[2018-11-20 08:48] guidogast opened #104 "Output function fires a lot"
I noticed that the output function is firing a lot. Check out this pen, open the console and start triggering the auto complete: https://codepen.io/dagorbattle/pen/rQYZzj

It looks like 1 change (also a change of the selected item) triggers the output function 14 times. It looks like this is unwanted behavior.

[2018-11-20 14:49] diogeneshamilton commented on #102
Thanks! I've been testing, and unfortunately it doesn't work flawlessly in my case since it's a scrollview. I've been working on finding a fix, but the logic around selecting an item (and what closes the autocomplete) has prevented me from finding the perfect one yet. I can work on this a bit today though. Thanks for your help!

[2018-11-20 18:19] diogeneshamilton commented on #102
Looks like I was able to fix my issues by essentially tracking touches on the list items:

[code]

Not sure if this is the most elegant solution, but maybe more complete for all touch cases. For now I'll downgrade to 2.3.5 for my production app (or use a doctored version with this fix), but let me know what you end up going with. I'm happy to submit a PR too if that's easier.

[2018-11-22 10:56] rrikesh commented on #102
I'm also having this issue on iOS Safari on the emoji example, I'm using version 3.1.2

[2018-11-22 14:12] jukben commented on #102
Yeah, @rrikesh I guess the solution by @diogeneshamilton might solve it. Are you able to test it and send PR? Otherwise, I might have time for it during the weekend. 🚀

[2018-11-23 04:39] rrikesh commented on #102
I tried @diogeneshamilton's fix but didn't work. Or maybe I am doing something wrong. I'll try to dig in the code again during the day. I'll send a PR if I manage to fix it.

[2018-11-23 12:03] rrikesh commented on #102
I sent a PR based on @diogeneshamilton's fix. I tested on iOS only.

[2018-11-24 16:45] rrikesh commented on #102
Tested on Android too! All good on my side!

[2018-11-24 17:52] diogeneshamilton commented on #102
Absolute win!!! Thank you @rrikesh!!!

[2018-11-25 09:18] #102 closed

[2018-11-25 10:37] #104 closed

[2018-11-25 10:40] jukben commented on #104
Fixed, and released as 3.1.4! 🚀

[2018-11-25 10:40] jukben commented on #102
Thanks to both of you! Should be ready in 3.1.4 (along with perf fix). 🚀

[2018-11-26 08:06] jukben commented on #101
@guidogast

I dug more into it and, actually, I'm not sure how to solve it. It's not a bug but more like feature. Your trigger is `[` and you are returning `[something` that means that the trigger is still active thus the autocomplete is shown. Not sure how easily distinguish that you are satisfied with the selection and you don't wanna show the autocomplete anymore.

Fist thought I had was that I

[2018-11-27 09:29] guidogast commented on #101
@jukben Thanks for checking the issue. Logic that makes sense to me would be something similar to Visual Studio (Code):

Once you enter a trigger key, it should show the autocomplete. When you press "Enter/Return" or "Tab", the selected value will be inserted and the autocomplete should disappear. Don't search for triggers after it's been inserted (Unless you retrigger it via another default autoc

[2018-11-27 10:55] jukben commented on #101
Thanks for the input. Makes sense. I'll try to do some exploration. Stay tuned. 🤓

I'll take Code as an example, good idea!

[2018-12-15 17:57] jukben commented on #101
Hey, it would be wonderful @guidogast if you can try this branch https://github.com/webscopeio/react-textarea-autocomplete/pull/107 I'd appreciate your feedback! 🙏

[2018-12-17 13:04] jukben commented on #48
Let's stay with CRA. https://github.com/facebook/create-react-app/blob/master/packages/babel-preset-react-app/create.js#L141 🥇

[2018-12-17 13:04] #48 closed

[2018-12-17 19:15] diogeneshamilton opened #109 "Changing value from state does not trigger _changeHandler"
I am using the component and when I change the value (by changing my component's state), the _changeHandler does not trigger. It does trigger getDerivedStateFromProps, but not _changeHandler.

This is problematic since I'd like to offer a button to trigger autocomplete (like Twitter, press @ button and with minChar=0 it shows suggestions).

Right now I have a workaround by defining a CustomEvent a

[2018-12-17 20:48] diogeneshamilton commented on #109
Here's the workaround by the way:

[code]

[2018-12-18 17:58] #109 closed

[2018-12-18 18:10] jukben commented on #109
Hey @diogeneshamilton this has been deployed as 3.1.5

You can check the playground, I've added also test for that (https://github.com/webscopeio/react-textarea-autocomplete/pull/110)

[2018-12-19 18:10] diogeneshamilton commented on #109
Amazing thank you! I will test.

[2018-12-19 21:40] #37 closed

[2018-12-19 21:42] jukben commented on #37
This going to be shipped as 4.0.0! 🚀 Finally, ~1 year later. 🙉

[2018-12-19 21:47] #100 closed

[2018-12-19 21:47] jukben commented on #101
Closed in #107

[2018-12-19 21:47] #101 closed

[2018-12-20 07:17] BenoKop commented on #37
Nice ! When for the 4.0.0 ? I'm maintaining the project that I wrote ~1 year ago :D

[2018-12-20 09:16] jukben commented on #37
@BenoKop
Haha! It's already here https://github.com/webscopeio/react-textarea-autocomplete/releases 🚀

Also in the PR (https://github.com/webscopeio/react-textarea-autocomplete/pull/111) there is more about how it works, actually it's on by default – by default it should prevent to overflow from body element. I hope it works fine for you!

Can you try it out and write me feedback?

[2018-12-20 09:38] BenoKop commented on #37
Cool !
I'm not sure I can try it today :s but I will try I when I can !

[2018-12-24 15:09] O4epegb opened #112 "Prevent form submission on Enter when autocomplete is open"
Is it possible to prevent form submission on Enter key press when autocomplete is open?

I couldn't find a way or hack to do this! Basically it means that form submits instead of selecting needed autocomplete value. I know that you can press Tab to autocomplete but Enter is more intuitive I think and most users press enter when selecting autocomplete suggestions.

Would be cool to have a prop to b

[2018-12-25 12:13] jukben commented on #112
Hey, could you please prepare repro on codepen (based on this https://codepen.io/jukben/pen/bYZqvR). It sounds like something worth to fix. 👍

[2019-01-01 21:38] jukben commented on #112
I see that's an actually great point. I've prepared a PR for it.

[2019-01-04 18:07] jukben commented on #37
What's the boundaries element? Body? Are you able to reproduce it codepen? 🙏

[2019-01-07 18:25] andypearson commented on #37
@jukben I don't see any errors at all. Switching to using a CSS selector doesn't seem to help. I did have `movePopupAsYouType` enabled but turning that off doesn't seem to make any difference either.

Shall I try and make a Codepen that reproduces the setup I have?

[2019-01-08 14:04] jukben commented on #37
@andypearson yes, please do. I've tried to give it a shot, but for me, it works https://codepen.io/jukben/pen/rovaLM check it out.

[2019-01-08 16:47] andypearson commented on #37
@jukben done: https://codepen.io/andy-pearson/pen/vvRLRP

This mimics the way I am using the component quite well.

It's weird, because comparing mine and yours, it feels like the only difference with mine is the `overflow-y: auto` and `height: 300px` in the CSS but even if I remove those the dropdown doesn't position itself like it does in your example. Potential user error alert! :D

[2019-01-08 20:46] #112 closed

[2019-01-09 08:49] O4epegb commented on #112
Oh, I am sorry, was on vacation, coulndt check!

Very cool, that is exactly what I needed, thank you very much! :) Gonna test new version this week

[2019-01-09 09:12] jukben commented on #112
No problem @O4epegb I hope you've enjoyed it!

[2019-01-10 09:27] O4epegb opened #116 "Escape key is not propagated when autocomplete is closed"
Escape key is not propagated when autocomplete is closed.

I think it might be because there is 2 listeners for Escape in `Textarea.jsx` and second one is never destroyed.

This one is probably unnecessary
https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/Textarea.jsx#L254

[2019-01-10 09:35] O4epegb commented on #116
If that is the case I might make a PR :)

[2019-01-10 09:39] jukben commented on #116
Oh, sorry, wrong rebase, you are right!

[2019-01-10 09:40] jukben commented on #116
Could you please push PR for it? 👍

[2019-01-10 09:53] O4epegb commented on #116
Sure, going to make it!

[2019-01-10 09:56] O4epegb opened #117 "Autocomplete is not triggered sometimes"
Autocomplete is not triggered sometimes. I could not understand why yet, but you can reproduce it here https://codesandbox.io/s/30mrxq107m

Steps:
1) Type ":" to trigger autocompete, then close it by "Esc" key press and press "Backspace" or "Delete" to remove text
2) Type some text, like "asd", then press "Shift+Enter" to make new line, repeat it 3 times
3) Then press "Up" key to move one line upw

[2019-01-10 10:09] jukben commented on #117
Hey, you are right, it's definitely something regarding the new behavior https://github.com/webscopeio/react-textarea-autocomplete/pull/107/files. I guess that this.lastTrigger should have been cleared in that case. However, I have to take a deeper look.

[2019-01-10 10:14] O4epegb commented on #117
Yep, that's definitely easier way to reproduce! :)

[2019-01-10 10:16] jukben commented on #117
I have and idea to watch the caret change and then call `cleanLastTrigger`. I'll take a look on it durring next few days. Thanks for the issue 🙏

[2019-01-10 10:18] jukben commented on #116
Closed in #118. Thanks for that!

[2019-01-10 10:18] #116 closed

[2019-01-10 19:08] andypearson commented on #37
@jukben I'll give 4.1.0 a try next week when I'm back at work, will keep you posted!

Don't think I'm using the option you removed so should be all good :)

Cheers again for your hard work on this awesome project!

[2019-01-13 13:30] #117 closed

[2019-01-13 13:43] jukben commented on #117
Hey! Could you please check 4.2.0? It should be fixed!

[2019-01-14 10:12] O4epegb commented on #117
Working great, thank you! Switched from v2 to v4 in production today.

Found only one minor bug, not sure if it is worth to fix, but here it is:

1) Type anything -> "something"
2) Trigger autocomplete -> "something @"
3) Then move caret back with arrows and trigger again -> "some@thing @"
4) Select autocomplete value
5) It will correctly show popup, but after you select value it will show it agai

[2019-01-14 10:13] jukben opened #120 "It will correctly show popup, but after you select value it will show it again for first trigger"
Working great, thank you! Switched from v2 to v4 in production today.

Found only one minor bug, not sure if it is worth to fix, but here it is:

1) Type anything -> "something"
2) Trigger autocomplete -> "something @"
3) Then move caret back with arrows and trigger again -> "some@thing @"
4) Select autocomplete value
5) It will correctly show popup, but after you select value it will show it agai

[2019-01-14 10:14] jukben commented on #120
I will take a look on this ASAP.

[2019-01-14 16:57] #120 closed

[2019-01-14 17:00] jukben commented on #120
Deployed as 4.2.1 🚀

[2019-01-18 14:39] andypearson commented on #37
@jukben I noticed that my CodePen had started working so I was quite excited, but on upgrading to 4.2.2 in my project the autocomplete still won't appear in the correct spot. :(

I went back to the CodePen and updated it until I could repeat the problem:
![large gif 696x614](https://user-images.githubusercontent.com/857/51392793-04885580-1b2e-11e9-817b-b3cff2db05c6.gif)

Here's the example URL aga

[2019-01-18 15:19] jukben opened #124 "The autocomplete still won't appear in the correct spot."
@jukben I noticed that my CodePen had started working so I was quite excited, but on upgrading to 4.2.2 in my project the autocomplete still won't appear in the correct spot. :(

I went back to the CodePen and updated it until I could repeat the problem:
![large gif 696x614](https://user-images.githubusercontent.com/857/51392793-04885580-1b2e-11e9-817b-b3cff2db05c6.gif)

Here's the example URL aga

[2019-01-18 15:21] jukben commented on #124
@andypearson I would start here, there could be the loop
https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/Textarea.jsx#L143

That's actually good idea, this might work. I'd be more than happy, if you can kick it out 🙏

[2019-01-22 11:31] andypearson commented on #124
I've stared working on this during my commute, hopefully have a PR for you soon...

[2019-01-22 12:17] jukben commented on #124
@andypearson Awesome! Looking forward, thank you for this. 💪 Feel free to ping me in the PR, I'll help you if needed.

[2019-01-25 16:11] andypearson commented on #124
Okay, after serious poking I have come up with:
https://github.com/webscopeio/react-textarea-autocomplete/compare/master...andypearson:fix-attempt-2

First thing: this feels very close to the metal, and that may be because of my lack of React knowledge. Should I attempt to roll back to an implementation that uses `setState`? Personally, I prefer avoiding the chance of infinite loops :D

I've manag

[2019-01-25 16:24] jukben commented on #124
Hell yeah, @andypearson I will do it during this weekend! Thanks for this! 💪

[2019-01-26 15:44] jukben commented on #124
@andypearson that actually works like charm, I'm impressed. 🚀 Great job. It looks like you just need to polish the code for linter, regenerate snapshots for Jest and we are ready to go (I can help you with that, once you open PR). I even did some tests in IE11 and still without any hassle. 👏

Not sure about this. It may be that the bug was in the original implementation as well. But overall I'm to

[2019-01-28 13:23] BenoKop commented on #124
Hey guys, do you know when you release your great fix ? A user of my app just told me that her page crashed and I just figured out that she had this in the console:
![bug_charlie](https://user-images.githubusercontent.com/32838942/51838946-0f01d680-2308-11e9-987d-5538d0081ba9.PNG)

Do you confirm that it is on your side ? I'll just wait for the fix :)

[2019-01-28 13:52] jukben opened #125 "Minified React error #185"
Hey guys, do you know when you release your great fix ? A user of my app just told me that her page crashed and I just figured out that she had this in the console:
![bug_charlie](https://user-images.githubusercontent.com/32838942/51838946-0f01d680-2308-11e9-987d-5538d0081ba9.PNG)

Do you confirm that it is on your side ? I'll just wait for the fix :)

_Originally posted by @BenoKop in https://git

[2019-01-28 13:57] jukben commented on #125
Hey @BenoKop, what version are you using? This could be also because of possible recursion here https://github.com/webscopeio/react-textarea-autocomplete/commit/3f822ab91859cf192b155a2cf0cd359f0ae3d3e8 We're preparing fix for that as a part of #124

Is this error also platform/user specifics? Are you able to reproduce it on your machine with dev mode enabled?

[2019-01-28 13:58] jukben commented on #124
Hey, @BenoKop I've created an issue #125 let's discuss it there. 🙏

[2019-01-28 14:21] BenoKop commented on #125
Hey @jukben ! I'm using the 4.1.0 version.
In my case, I was able to reproduce de bug on dev mode only on Chrome.

What I get
![bug_textarea1](https://user-images.githubusercontent.com/32838942/51841727-8d15ab80-230f-11e9-94ab-8dd10e26c46b.PNG)
![bug_textarea2](https://user-images.githubusercontent.com/32838942/51841728-8edf6f00-230f-11e9-971e-a05a864a5b28.PNG)

This is the extreme bottom of my pa

[2019-01-28 14:24] jukben commented on #125
I see, that's exactly the issue @andypearson going to address in his PR solving this bug and the behavior in general. So sorry about that, the best what you can do to prevent it is to downgrade to 4.0.0.

[2019-01-29 22:54] #124 closed

[2019-01-29 22:54] #125 closed

[2019-01-29 22:58] jukben commented on #124
Deployed as 4.2.3. Thanks!

[2019-01-29 22:58] jukben commented on #125
Deployed as 4.2.3! 🚀

[2019-01-30 07:47] BenoKop commented on #125
Nice work !
Tried it and updated my app !

[2019-02-01 11:29] gargroh opened #128 "Feature Request: Usage of React portal"
Currently as the suggestions dropdown gets appended next to textarea, it makes difficult to use this plugin for textarea inside an **overflow:hidden container**(that can be a form with scrollbar) or e.s. in **modals/dialogs with max-height set and overflow: scroll**.

In any of the cases either suggestions dropdown will be **invisible**(due to overflow hidden) or user needs to **scroll parent cont

[2019-02-01 11:34] jukben commented on #128
Yeah! Good that you have raised this issue. I was already thinking about it because that's exactly the use case for Portal and indeed it would be preventing overflow issue. Since we've migrated to React 16 nothing should stop us from delivering it. Do you wanna give it shot?

[2019-02-01 11:47] gargroh commented on #128
I would love to but need to have code insights(these days i am tightly packed), btw a random question how will `containerClassName` option behave.

[2019-02-01 15:17] jukben commented on #128
It should work still the same I guess. What do you think?

[2019-02-07 07:53] japrogramer opened #129 "Integration with matterial-ui Input components not working"
Hello I would like to Integrate auto complete into my react input ..
I thought that passing the ref of the input component to
ReactTextareaAutocomplete would do the trick but I must be missing something

[code]

[2019-02-07 08:03] japrogramer commented on #129
Rendering this works, but now the behavior is broken, at every char input the component looses focus and no drop down is ever shown.
[code]

[2019-02-07 08:37] japrogramer commented on #129
And In my now latest attempt after reading the source code, I would thinks that this would work

[code]

[2019-02-07 08:46] jukben commented on #129
Hey. 👋 Could you please provide codepen or somethingto reproduce it?

[2019-02-07 09:17] japrogramer commented on #129
I'm on mobile, I'll do it in the morning.

[2019-02-07 11:03] jukben commented on #129
@japrogramer awesome. I believe they're gonna be a way how to solve it if `input` from `material-ui` has the same API as textarea.

Btw the prop should be `textAreaComponent` which takes object `{component: React.Component, ref: "innerRef"}` or `React.Component` for instance.

If the styling is a bit off let's try to remove `import "@webscopeio/react-textarea-autocomplete/style.css";` RTA automati

[2019-02-08 05:03] japrogramer commented on #129
@jukben https://codesandbox.io/s/38zwmm02n6 I managed to get an example in codesandbox but as you can see the completion component isn't being rendered which might be a separate bug.

The problem im asking about is the styles .. how can i make them have the same styles.

[2019-02-08 14:34] jukben commented on #129
Hey, @japrogramer it looks like you are still passing wrong property, it should be `textAreaComponent` also you have to ensure that the handler's going to be correctly passed (the same for ref)

[2019-02-08 17:15] japrogramer commented on #129
Input uses textarea as it's component so it should work.. and it does in my implementation I wrote but only in my project .
Although I copy pasted the same code to the example above .. it doesn't on the example.

Hmm
. I'll make some more changes once I get to a computer.

[2019-02-09 03:42] japrogramer commented on #129
@jukben thats weird using `textAreaComponent` doesn't work for me
but `TextAreaComponent` does .. meaning that my component passed is actually rendered as expected with dropdown and everything, even my onChange functions are called, its just that the styling is wrong ..

[2019-02-09 04:21] japrogramer commented on #129
@jukben I made the changes that you suggested and the component is rendered but now my onChange and value functions are not being passed to the component.
https://codesandbox.io/s/38zwmm02n6

[2019-02-09 05:32] japrogramer commented on #129
[code]

what am i doing wrong here ? Im trying again

[code]

[2019-02-09 08:44] jukben commented on #129
@japrogramer Obviously you don't understand the reason for the ref here. It depends on the API of the component you are passing how to get the ref. In case if this Input component it should be `inputRef` by the documentation.

[2019-02-09 10:06] jukben commented on #129
I have a feeling that there is something fishy with Codesandbox, I didn't want to waste my time on this so I just quickly prototyped the same inside this repository. Please go check it out this branch https://github.com/webscopeio/react-textarea-autocomplete/tree/example/material-ui (clone this repo and check out this branch, don't forget to run `yarn`). It's working.

[2019-02-09 22:06] japrogramer commented on #129
@jukben thanks, that worked.

Only thing now is that my implementation looses focus at every char typed .. hmm.
I have cloned the repo and your example works perfectly.

sorry, I thought a ref to an element exposed the interfaces needed to implement the auto suggest just by itself

[2019-02-09 23:28] japrogramer commented on #129
I managed to fix the error where the component would loose focus, by moving the `InPo`
defenition out of render() but now i need access to the classes variable to override a style
but if i pass it like so .. the looses input error comes back
[code]

[code]

nvm small issue, ill just style it inline.

[2019-02-09 23:28] #129 closed

[2019-02-10 01:35] japrogramer opened #131 "drop down blocks text typed."
after the trigger causes the dropdown to show
the actual dropdown element cuts off the text after by about half

![Line height not accounted for](https://user-images.githubusercontent.com/1387859/52528306-2e521980-2ca1-11e9-95e2-2a8bf90a0064.png)

I suggest that we take into account the elements line height , the random hovering button
is a firefox bug.

![suggested change](https://user-images.git

[2019-02-10 09:01] jukben commented on #131
I'm not planning to do any too clever logic about this. The all you need is to tweak styles bounded to `rta__autocomplete` class to suit your case.

[2019-02-10 09:14] japrogramer commented on #131
I tried to use the dropdownStyle but it seems that the position top and bottom are passed to Autocomplete are computed on the componentDidUpdate so there is no way to change the top bottom like that.

dropdownStyle={{zIndex: 2, top, bottom}}

[2019-02-10 10:11] jukben commented on #131
Yep. That's correct. You should use `margin` https://github.com/webscopeio/react-textarea-autocomplete/blob/master/style.css#L29

[2019-02-10 11:05] #131 closed

[2019-02-12 12:13] saumitra171 opened #132 "Prevent output"
Is it possible to prevent outputting to textarea for certain items ?

My use case is, I want to show a popup on selection of certain types of items and then when the popup is dismissed I want to update the textarea based on user action.

[2019-02-12 14:11] jukben commented on #132
I'm not sure if I can understand this part

Do you want to take action based on dismissed popup? (not selected item?)

Could you please create a codepen (fork of this https://codepen.io/jukben/pen/bYZqvR) with steps to reproduce?

[2019-02-12 14:38] saumitra171 commented on #132
Please checkout the comments
https://codepen.io/smtrd/pen/WPyjag?editors=0010

[2019-02-13 21:52] jukben commented on #132
Hey, I think it's a valid point and in this case, we should support returning `null`. I will try to hack something so stay tuned!

[2019-02-16 14:30] #132 closed

[2019-02-16 15:02] jukben commented on #132
Deployed in 4.3.0 🚀

[2019-02-18 16:21] O4epegb opened #135 "Escape key is not propagated sometimes"
So, escape key propagation stops after autocomplete is shown first time.

Steps to reproduce: (for example here https://874-94480675-gh.circle-artifacts.com/0/example/index.html)
1) Press Escape. In console there will be log indicating that Escape was pressed
2) Type "@" to trigger autocomplete, then select value
3) Press Escape again, now there is no console log, because it is not propagating

It

[2019-02-18 16:39] O4epegb commented on #135
I think I got it!

It might be because of this block inside listener code

[code]

So for example, when we add first listener the index starts with 0. We add it to hashmap of listeners, but then we increment index to 1 and return it (that a bug, we should return 0). So when we try to delete we actually deleting wrong listener every time.

[2019-02-18 16:41] O4epegb commented on #135
It is actually quite strange pattern to use (indexes), maybe we should refactor it to more common pub sub implementation with just function references?

[2019-02-18 16:42] jukben commented on #135
Oh, that makes sense. It should be `return this.index++;` or something if I'm correct. But definitely, I'm for refactoring it. Will you give it a shot?

[2019-02-18 16:51] O4epegb commented on #135
Yep! I think I will do fast fix like `return this.index++;` and maybe refactor afterwards!

[2019-02-18 16:57] jukben commented on #135
Yeah, the quick fix is an OK solution for now! Thanks for this. Once you test it out that it works for your use case, please create a PR. I will merge it ASAP. Thanks for letting me know! 💪

[2019-02-19 15:05] #135 closed

[2019-02-21 12:00] afsal008 opened #137 "Can you please specify the Browser versions you support?"
Cannot understand from the wording Last 2 Versions

[2019-02-21 12:37] jukben commented on #137
What exactly you can't understand? We are targeting to support the last 2 version of specified browsers.

[2019-02-21 12:55] afsal008 commented on #137
That means, there is no assurance that this supports from a specific version.

[2019-02-21 14:02] jukben commented on #137
Yeah. But generally, it's meant to be working for all browsers from IE11 up. I'm not saying it's perfect in IE11, but it's working somehow. If you find out that for some browser it's not working, we will consider the severity and we might end up fixing it.

The Readme is here just for a quick overview, it's gonna work in every "normal" browser I guess.

Thanks for asking I hope I solve the issue.

[2019-02-21 14:02] #137 closed

[2019-02-23 11:11] jazzy-em opened #138 "Suggestion list doesn't appear again after pressing keydown button"
Hello! Thanks for awesome component your built!

I faced with issue which is reproducable on [demo example](https://codepen.io/jukben/pen/bYZqvR)

**Steps:**
1. Type :s. Suggestion list appears
2. Press keydown button on keyboard
3. Type one more char

**Expected behavior:**
Suggestion list appears after typing new char

**Actual behavior:**
Suggestion list doesn't appear any more until you delete

[2019-02-24 11:13] jukben commented on #138
Thanks for the issue! It was a quick fix, right now I'm working on e2e test to prevent such a regression in the future. 🙌 I'm gonna deploy fixed version today. 🚀

[2019-02-24 13:09] jukben commented on #138
Bugfix has been prepared if you have time, you can check it out! #139

[2019-02-24 15:34] jazzy-em commented on #138
Thanks for so quick response and fix! I've checked it, it works as expected. Thanks!

[2019-02-24 16:24] #138 closed

[2019-02-24 17:02] jukben commented on #138
Deployed as 4.3.2 🚀

[2019-02-27 08:15] fuzhengsong opened #140 "can not load css auto"
style.css is not load when i import react-textarea-autocomplete
![image](https://user-images.githubusercontent.com/25757269/53475408-cf670f80-3aaa-11e9-9fb2-8f53a5ba46d6.png)

[2019-02-27 08:35] #140 closed

[2019-03-01 13:28] dragon-15 opened #141 "update textarea content"
Cant figure out how to update the value of textarea from function.

[2019-03-01 13:43] jukben commented on #141
Hey, check it out the playground implementation

Live: https://874-94480675-gh.circle-artifacts.com/0/example/index.html
Code: https://raw.githubusercontent.com/webscopeio/react-textarea-autocomplete/master/example/App.jsx

For example check it out an implementation of "Change value to ":troph". Is it clear?

If not can you please specify more what are you trying to do and maybe create some Codepe

[2019-03-01 16:21] andypearson opened #142 "Prevent opening the autocomplete on a pair of triggers"
Uh oh, it's me again!

This bug has been reported by one of my users, after they have put in a paint (resulting in a complete token that looks like `:PaintRange/PaintName:`) when they backspace, and then type a character the autocomplete opens again:

![large gif 766x446](https://user-images.githubusercontent.com/857/53650950-9f03aa80-3c3d-11e9-8ff9-57135799e59e.gif)

I tried to rectify this by us

[2019-03-01 17:08] jukben commented on #142
Hey! 👋

Haha, nice 🐛. Actually, this is quite difficult due to the current architecture. However `afterWhitespace: true` should prevent it.

Check it out this and "use" `;` trigger.
https://926-94480675-gh.circle-artifacts.com/0/example/index.html

However, which is really strange, it's not working on https://codepen.io/jukben/pen/bYZqvR 😱

There actually an additional bug, that `afterWhitespace:

[2019-03-03 08:48] andypearson commented on #142
Errrrr I'm using whatever build I get with `yarn add` so ES I guess?

I can't seem to get either example to work (in Safari 12.0.2 or Chrome latest):
![large gif 324x154](https://user-images.githubusercontent.com/857/53692991-16961e80-3d91-11e9-85b5-0e86eb93cb6e.gif)

Although I might be misunderstanding what you mean!

[2019-03-03 11:22] jukben commented on #142
Not sure if we are on the same page, but I think this could solve the issue for you if you would use this as in this example. e.g use autocomplete only when the token is acting as "new word". Does it cover all your use cases?

![afterwhitespace](https://user-images.githubusercontent.com/8135252/53694416-dba2e380-3dae-11e9-808b-87460b3d122f.gif)

[2019-03-03 15:20] dragon-15 commented on #141
Not working for me, I've updated the codepen provided by you in demo.

https://codepen.io/anon/pen/LaZVWP

[2019-03-04 08:29] andypearson commented on #142
@jukben yes, that looks like it would do the trick!

Is that `afterWhitespace` or a new option?

[2019-03-04 10:23] jukben commented on #141
The demo is wrong, it has to be inside of React's life cycle using `setState` for example.

[2019-03-04 10:38] jukben commented on #142
It should be `afterWhitespace` – but there might be issue, that the autocomplete won't open if the first character you type gonna be the `;` e.g. the logic should be tweaked – I can do it (I'd say the current behavior is a bug).

However, I'm curious if it works for you because I'm codepen it's somehow broken :O. Could you please check it out `afterWhitespace` option in your project and let me kno

[2019-03-04 11:48] dragon-15 commented on #141
I've updated the demo and used setstate.

https://codepen.io/anon/pen/LaZVWP

[2019-03-06 08:22] andypearson commented on #142
Yeah, I tried it in my project and for some reason when `afterWhitespace: true` is set then the autocomplete doesn't open at all, even if I pad the string a bit:

![large gif 492x312](https://user-images.githubusercontent.com/857/53828230-fde65e00-3f74-11e9-89db-9f2b3fe0742a.gif)

But here it is working fine with that option commented out:

![large gif 492x312](https://user-images.githubuserconten

[2019-03-06 09:26] jukben commented on #142
@andypearson 😞 That so weird. How it's this even possible. This works for you as intended right 926-94480675-gh.circle-artifacts.com/0/example/index.html, with `;` trigger? There has to be some bug but I'm not able to reproduce it.

[2019-03-06 17:06] andypearson commented on #142
Can confirm that https://926-94480675-gh.circle-artifacts.com/0/example/index.html works as expected with the `;` trigger.

Is it possible that a trigger of `:` could be breaking the generated regex?

I will try changing my trigger to `;` or `[` to see if that helps... will report back in a bit!

[2019-03-06 19:15] andypearson commented on #142
@jukben Okay, I've just tested and all of `:`, `;` and `[` work perfectly until `afterWhitespace: true` is added, at which point the autocomplete stops showing up completely.

Here is the triggers object I am using, in case that has anything to do with it...

[code]

[2019-03-07 15:40] apenab opened #143 "ROWS"
I have the same problem and would like to have this functionality => [Problems with Min ROWS](https://github.com/signavio/react-mentions/issues/292)

[2019-03-07 16:00] jukben commented on #143
Rows should be supported by default, everything is passed by `textarea`. The issue you might have is that `height` defined in CSS you are loading if you are using default css provided by RTA.

[2019-03-07 16:37] apenab commented on #143
I use this package => [react-textarea-autosize](https://github.com/andreypopp/react-textarea-autosize), in which I can use the `minRows` property, when I use your package I do not find homogenity with my other textarea

[2019-03-07 17:21] jukben commented on #143
Could you please create repro? I've checked it out the implementation of react-textarea-autosize, it looks like minRows is just argument during height computation. So it could clash with RTA defaults CSS styles.

[2019-03-08 09:59] jukben commented on #142
This is very strange indeed. I'll try to create "repro" from scratch or https://codesandbox.io during the weekend. 🙋‍♂️

[2019-03-08 13:35] jukben commented on #141
Hey, I need some additional context @dragon-15. How are you using this component as UMD module? Check it out this https://codesandbox.io/s/k34153yp0v. It seems to work there.

[2019-03-10 10:06] jukben commented on #142
Found the issue, working on fix. There has to be taken `minChar` in mind. Unfortunately the test were unable to catch it. :(

[2019-03-10 16:14] #142 closed

[2019-03-10 16:15] jukben commented on #143
Not planing to provide any extra support for this, so I'm closing it

[2019-03-10 16:15] #143 closed

[2019-03-10 16:22] jukben commented on #142
Hey @andypearson I've just released 4.3.3 🚀 – now the `afterWhitespace` should work as expected. Please, give it a try.

[2019-03-10 16:46] #141 closed

[2019-03-11 14:00] andypearson commented on #142
@jukben should have time to try it out in the next couple of days, will let you know how it goes :)

[2019-03-13 19:47] andypearson commented on #142
@jukben just tried your fix and it's working a treat! My autocomplete is working perfectly now, time to ship! Thanks again! 🎉

[2019-04-05 18:20] Psyphant commented on #62
I think I have the same problem:

I wanna use it in a project but there is an requirement named "Group mentions", which means besides the known "@user" autocomplete there is also an "@@group" feature.

So I have two triggers: "@" and "@@".
My problem is that since "@" is triggered, the trigger of "@@" only fires once and than after another char never again.

Here you can finde the example code: ht

[2019-04-05 23:26] Psyphant commented on #62
I think I have a similar problem:

I wanna use it in a project but there is an requirement named "Group mentions", which means besides the known "@user" autocomplete there is also an "@@group" feature.

So I have two triggers: "@" and "@@".
My problem is that since "@" is triggered, the trigger of "@@" only fires once and than after another char never again.

Here you can finde the example code: h

[2019-04-06 06:32] jukben opened #145 "Correct trigger fires only once"
I think I have a similar problem:

I wanna use it in a project but there is an requirement named "Group mentions", which means besides the known "@user" autocomplete there is also an "@@group" feature.

So I have two triggers: "@" and "@@".
My problem is that since "@" is triggered, the trigger of "@@" only fires once and than after another char never again.

Here you can finde the example code: h

[2019-04-06 07:35] #145 closed

[2019-04-06 07:39] jukben commented on #145
Has been fixed in 4.3.4 (https://codesandbox.io/embed/9ljo56oz3w) 🚀

[2019-04-06 07:41] jukben commented on #62
@Psyphant Thanks for the reporting! I've just released new version which fixing this behavior. (Let's move hypothetical discussion into #145 )

[2019-04-06 10:01] Psyphant commented on #62
@jukben I have to thank! That was an incredible fast fix 👍

[2019-04-07 12:52] Psyphant opened #147 "Show popup at a new line when afterWhitespace is set to true"
Hey!
Is it possible to trigger the autocomplete also on a new line when **afterWhitespace** is set to **true**?

Steps to reproduce:
1. Hit enter
2. Type @

https://codesandbox.io/embed/2v6q1rqry0

[2019-04-07 19:27] jukben commented on #147
Hey! You probably want to use `minChar` prop.

minChar={0} does the trick

[2019-04-08 13:42] jukben commented on #147
Hey!

Yep. Sorry about that, another bug. We should look for any white character not just for " ".

[2019-04-10 09:06] Psyphant commented on #147
Sorry for the delay ... I created an PR with your above mentioned solution and it works like a charm 👍

[2019-04-10 10:31] jukben commented on #147
Awesome! Released as 4.3.5! 🚀 Thanks!

[2019-04-10 10:31] #147 closed

[2019-04-11 14:40] Psyphant commented on #128
Hey!
I have the same wish and tried it out with the mentioned ReactDOM.createPortal() function.
https://github.com/webscopeio/react-textarea-autocomplete/compare/master...Psyphant:append-dropdown-in-body?expand=1

It's working well but probably needs more testing and maybe an option for this setting.

So, what do you guys think?

[2019-04-11 15:40] jukben commented on #128
Hey @Psyphant definitely open a PR for it and we can try it out. Thanks for your work!

[2019-04-11 16:48] jpsear opened #150 "I can't seem to get this to work with react-autosize-textarea"
I'm a little confused. I've scoured the issues and read the docs a million times, but can't seem to find a combination that works.

This is what I've got:

[code]

I've omited a few props, such as `trigger` etc, as my `ReactTextareaAutoComplete` is working fine standalone.

[2019-04-11 17:36] jukben commented on #150
Hey,

I guess it should be

[code]

Have you tried that?

[2019-04-11 17:40] jpsear commented on #150
Hey, cheers for the reply.

Yup, tried it. The autocomplete still works nicely, but the autoresize does not work.

[2019-04-11 18:09] jukben commented on #150
Got it. Apparently there is some breaking change in `react-autosize-textarea`. Could you please test it out with version 6.0? I got it work.

[2019-04-11 18:09] jpsear commented on #150
Sure no worries — I'll report back

[2019-04-11 18:18] jukben commented on #150
I see. Version 7.0 uses (and supports only) React.createRef approach – this component does not. So you have to use version 6.0. Sorry about it!

[2019-04-11 18:20] jukben commented on #150
Closing for now because I believe they should support both approaches, function and React.createRef.

[2019-04-11 18:20] #150 closed

[2019-04-11 18:20] jpsear commented on #150
No probs. Cheers for taking a look :)

[2019-04-11 18:32] jpsear commented on #150
Darn, it's not working on version 6.0.0 for me

[2019-04-12 08:15] jukben commented on #150
Could you please elaborate on it more? 🤔

Please check it out this example branch https://github.com/webscopeio/react-textarea-autocomplete/tree/example/react-autosize-textarea

[2019-04-12 08:16] jpsear commented on #150
Thanks for the branch. I've glanced over it and my setup looks the same. I will test later and come back to you.

[2019-04-25 14:59] Psyphant opened #151 "Set a predefined value inside the textarea"
Hey @jukben,

I wanna set a predefined value (autosave feature) for the textarea.

It's not possible to set the value directly like `<ReactTextareaAutocomplete value={"test"} ... /> ` because from then on you can't change the text at the textarea by typing anymore.

In #141 you mentioned it's the best way to change the value of the component ( `<ReactTextareaAutocomplete value={text} ... />`) via

[2019-04-26 09:05] #151 closed

[2019-04-26 09:07] Psyphant commented on #151
It's probably not an issue of your component. I need to figure out, who is bubbling the custom change event, which has no target.

[2019-04-29 07:45] jukben commented on #151
If you will figure out what might be an issue, or how to prevent it, feel free to post it here, please 🙏

[2019-05-01 09:20] jukben commented on #128
Fixed in #149

[2019-05-01 09:20] #128 closed

[2019-05-01 09:43] jukben commented on #128
Released as 4.4.0 🚀

[2019-05-02 08:16] Psyphant commented on #151
The problem appears when you try to change the value of a textarea (for example via redux) but addresses more than one textarea by mistake (every textarea needs a clear identifier).

[2019-05-02 08:24] Psyphant opened #152 "Prevent autocomplete to change position (set fix position)"
Is there a way to prevent the autocomplete opening at the top of the textarea?

Because on the one hand the change is annoying and on the other it's in my case buggy:
https://s3.gifyu.com/images/overflow-bug.gif

[2019-05-02 08:46] jukben commented on #152
Have you tried to play with `boundariesElement` prop? Maybe it would be good to allow `false` option to disable it.

[2019-05-02 09:14] Psyphant commented on #152
Yeah, but unfortunately `boundariesElement` does not work with (because the autocomplete have to be inside the boundariesElement) or without `renderToBody`.

So ... an additional prop will be great!

For example like:
`autocompletePostionX`: auto | left | right
`autocompletePostionY`: auto | top | bottom

[2019-05-02 12:04] jukben commented on #152
Yeah, agree, more like

[code]
defaults to `auto`

[2019-05-02 13:15] Psyphant commented on #152
Sounds sweet to me 😎

[2019-05-02 13:43] jukben commented on #152
I can try tackle it on weekend, but if you have some time for it, you have green light!

[2019-05-08 09:04] Psyphant commented on #152
Sounds great!

I had another case in which the autocomplete has the wrong position (renderToBody is true):
![image](https://user-images.githubusercontent.com/364954/57363096-94efb200-7180-11e9-971c-c1f50f635445.png)

Maybe the calculation of the autocomplete position with the new renderToBody prop is not correct.

[2019-05-23 16:54] Daniele122898 opened #153 "selected property for entire item"
So i saw that there is a selected style when you use the arrow keys so i can change the color. But as you can see it only works for the entity. There seems to be no such thing for the entire item like on the hover event as seen above.

![image](https://user-images.githubusercontent.com/20451770/58271305-0e47f100-7d8c-11e9-8e2b-891a8955159a.png)

Is there a way so that i can change the color of the

[2019-05-27 10:04] jukben commented on #153
You should be able to style it with `.rta__entity--selected` css selectors

[2019-05-28 20:59] Daniele122898 commented on #153
it doesnt seem to work for some reason. when i hover over it, everything turns purple. But when i use the arrow keys only the inside changes color using the `.rta__entity--selected` class. I need the entire item to change color but there is no `.rta__item--selected` class

[2019-05-28 21:25] jukben commented on #153
Ah, I follow know. You're correct. Let's add class also for item then, are you willing to sent PR for it?

https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/Item.jsx#L40

[2019-05-29 18:50] Daniele122898 commented on #153
i can try sure :)

[2019-06-25 15:45] O4epegb commented on #153
I think this could be closed now!)

[2019-06-25 15:52] O4epegb opened #163 "Feature: add onSelect callback"
Is it a good idea to add something like `onSelect` callback?

My use case is that I want to send some analytics about what users pick in autocomplete. It is quite hard to parse it from raw text, and result is not guarantied, because user could just copy paste text without selecting it from autocomplete dropdown.
Maybe there are other cases, for example, you may want to show something if user pick

[2019-06-26 08:44] jukben commented on #153
Closed in 6b5296499d503f540b31089521134b80b610141a

[2019-06-26 08:44] #153 closed

[2019-06-26 11:01] jukben commented on #163
Yeah, I think this use-case makes sense! I also like the API. The prop could be name something like `onItemSelected` what do you think?

[2019-06-28 15:57] fuzhengsong opened #164 "style property in file textarea-caret maybe wrong"
The component Autocomplete is not at correct position when textarea value is long.I found the style in textarea-caret should be "wordBreak" not "wordWrap".

[2019-07-01 15:17] jukben commented on #164
Could you please create repo somewhere? You can use this "template": [codesandbox](https://codesandbox.io/s/k34153yp0v), [codepen](https://codepen.io/jukben/pen/bYZqvR).

[2019-07-05 13:38] OlegVach commented on #145
Hello guys. I have same problem but symbols is "{{". I'm using 4.5.0 version.

[2019-07-08 08:28] jukben opened #165 "Hello guys. I have same problem but symbols is "{{". I'm using 4.5.0 version."
Hello guys. I have same problem but symbols is "{{". I'm using 4.5.0 version.

_Originally posted by @OlegVach in https://github.com/webscopeio/react-textarea-autocomplete/issues/145#issuecomment-508761773_

[2019-07-08 08:30] jukben commented on #145
Hey @OlegVach could you please create a new issue with repro? 🙏 I'd very appreciate it!

[2019-07-08 08:49] jukben opened #166 "`minChar` doesn't mind length of the trigger char"
*Current state*
Try to type `@` you will see nothing since you will have to type one more char (default minChar is `1`). If you type `@@` you will immediately see that item since length of the trigger is not calculated correctly.

*Expected state*
You should type `@@a` to see the item (should respect `minChar` property)

Repro: https://codesandbox.io/s/vjx16

[2019-07-08 10:34] OlegVach commented on #145
@jukben It doesn't work with version 4.3.4. I will create new issue.

[2019-07-08 10:46] OlegVach opened #167 "Bug. Problems with trigger if it does not consist of one character. Like in #145 issue."
Problem with triggers. I am using 3 different triggers. "@", ":", "{{". Trigger "{{" doesn't work correctly. It shows dropdown list only after another triggers. If you try print this trigger it doesn't works.

[2019-07-08 11:54] jukben commented on #167
Could you please provide steps to reproduce and expected result?

You can use this codesandbox, just tweak it for your use-case: https://codesandbox.io/s/vjx16

[2019-07-09 09:08] OlegVach commented on #167
Try it. https://codesandbox.io/embed/ancient-sun-ysz9k
Try set at first this symbols "{{". It will be not showing dropdown.
When you set this ";" at first, and after this "{{" it will be working.

[2019-07-09 16:04] #167 closed

[2019-07-09 16:04] #166 closed

[2019-07-09 16:04] #163 closed

[2019-07-09 16:35] O4epegb commented on #163
Wow, thank you very much @jukben, awesome! Was very busy for quite a while, could not find the time to implement it

[2019-07-09 16:39] jukben commented on #163
Give it a try! I hope it's gonna be OK. 🚀

[2019-07-10 05:35] aklxx100 opened #171 "Autocomplete option is not applied when clicked on IE11"
**Version**: `^4.6.0`
**Browser**: `Internet Explorer 11.829.17134.0`
**OS**: `Windows 10 Pro`

## Current state - Defect/Bug
On IE 11, the autocomplete option is not applied (appended in the textarea) when clicked (mouse).

## Expected state
The autocomplete option is applied (appended in the textarea) when clicked (mouse) as in using  IE Edge, Chrome and Firefox.

[2019-07-10 08:21] jukben commented on #171
Hey, thanks for the issue, I've been able to reproduce it – it's only related to clicking tho. Interesting, should be quite easy to fix.

[2019-07-10 19:15] #171 closed

[2019-07-10 19:17] jukben commented on #171
Hey, should be fixed in 4.6.1! Let me know! 🚀

[2019-07-11 00:57] aklxx100 commented on #171
Tested and passed! Thanks!

[2019-07-26 06:55] khoand040792 opened #174 "handle press key ctrl + whitespace not show autocomplete"
i have a problem when i handle press key ctrl + whitespace show autocomplete at specified in string, but autocomplete not be triggered, even though i had added triggered characters before.
please help me.
my code:
![image](https://user-images.githubusercontent.com/37665255/61931959-582b9e00-afac-11e9-9740-ac3219b0ec76.png)

![image](https://user-images.githubusercontent.com/37665255/61931998-772a3

[2019-07-26 08:41] jukben commented on #174
Hi, could you please create repro basend on this https://codesandbox.io/s/k34153yp0v for example? 🙏

[2019-09-07 01:12] japrogramer opened #177 "implementing hashtags with spaces."
Hello I am trying to implement hashtags
[code]

but when i type in the textarea something like. ..

#new_pages #New_from_modal #Coco

the console logs this on the last call

coco
new_pages #New_from_modal #Coco

It seems that the tag is sometimes being passed the coco part as a token
but on other parts the whole line ... which i do not want.

But i have to allow white spaces because groups can hav

[2019-09-07 01:27] japrogramer commented on #177
was able to work around it with ..
[code]

[2019-09-07 01:32] japrogramer commented on #177
Re-opening .. because i don't think the default behavior makes sense.

[2019-09-07 02:27] japrogramer commented on #177
Perhaps having an exit character to tell the component to stop trying to auto complete.
something like ';'

[2019-09-09 08:02] jukben commented on #177
Could you please create codesandbox (for example basend on this https://codesandbox.io/s/k34153yp0v) as repro? Expected behavior, actual behavior?🙏

[2019-09-11 17:39] dhruvparmar372 opened #178 "onBlur triggered when focusing on <textarea>"
I'm trying to use `onFocus` & `onBlur` events. It seem the `onBlur` event is triggered even when focusing on the `<textarea` element. Here is a codesandbox showing the behavior
https://codesandbox.io/s/sharp-bird-ld8r4

[2019-09-12 07:43] jukben commented on #178
Thanks a lot for the issue, it really look as a bug – appreciated the codesandbox! I'll take a look ASAP.

[2019-09-18 07:06] jukben opened #179 "Consider deprecation in favor or @signavio/react-mentions"
https://github.com/signavio/react-mentions looks awesome and it might be sufficient for the most of the scenarios folks are using this library.

[2019-10-08 18:14] ctsimpouris commented on #179
I disagree. https://github.com/signavio/react-mentions provides better initial styling but lacks in functionality. For example, you cannot provide with custom input component (while `textAreaComponent` provides more power).

[2019-10-16 13:47] AndreasPresthammer commented on #150
Managed to it working with react react-textarea-autosize (NB! not react-autosize-textarea - although you may get this to work aswell)

[code]
and
[code]

[2019-10-22 13:20] Psyphant commented on #152
Hey!

I invest some time finding the root cause of the problem:

When the autocomplete has a bottom position even there is no space for it, the variable `var dropdownBounds = this.ref.getBoundingClientRect();` (line 601) is empty.

So the problem might be the async loading of the dropdown.

The solution could be to set the position after the dropdown finished loading.

[2019-10-22 13:37] Psyphant commented on #152
The wrong calculation of the autcomplete position was my bad 🤦‍♂ `.rta__autocomplete` was set to `display: none;` by default ... so the `dropdownBounds` variable was empty. Now it works.

Anyway the `autocompletePostion` prop would be great 👍

[2019-11-06 20:18] eclecto opened #180 "Allow immediate autocomplete with no trigger character"
My use case is that I want to use inline trigger-based autocompletion elsewhere in my application, but I have a username field where I would like autocomplete to start immediately on any input, without need of a trigger character and without needing a separate plugin. Maybe a new prop that can accept a single `settingType` object and can be used in place of the `trigger` prop?

[2019-11-07 08:28] jukben commented on #180
Hey, thanks for the idea! However I'm not sure if we want to support this usecase.  RTA supports only textareas anyway. I'll think about it, maybe we can come up with some solution. However we need to keep the complexity low.

[2019-11-07 17:12] eclecto commented on #180
I was able to use a standard input field instead of a textarea by passing in `textAreaComponent='input'`

[2019-12-03 18:19] johnrails opened #181 "Question about supported react version"
I'm sorry if this is the wrong platform for this, but does this package work with react 15.4? I'm trying to use a package that uses react-textarea-autocomplete as a dev dependency, and when i try to use the package my app breaks with this exception
[code]

I'm guessing it's probably an issue with my webpack config, but just wanted to make sure it's worth investigating.

[2019-12-04 13:57] jukben commented on #181
Oh, that's interesting. You said it's `devDependency`? Which package is that? Yep, it's issue with webpack, you need to correctly transform css as well.

[2019-12-04 20:10] tgroutars commented on #178
Any news on this?

[2019-12-04 21:53] #178 closed

[2019-12-04 21:57] jukben commented on #178
@tgroutars Thanks for reminder, I just fixed that. Released as [4.6.2](https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v4.6.2). Enjoy and start the library ⭐️

[2019-12-18 22:00] Haschtl commented on #181
In my case, the autocomplete works with react. I'm using React with Ionic 4, but I think this should work with the normal React, too.
I'm using these package versions:
[code]

My devDependency for reference:
[code]

I also had some problems at first. Have a look at my implementation:

[code]

But I'm still facing some issue: The autocomplete-list is only inside the textarea. Thus, if the screen is

[2019-12-25 07:10] japrogramer commented on #177
@jukben I have recreated the bug .. https://codesandbox.io/s/reacttextareaautocomplete-tw12d

its the output:  and the allowWhitespaces that together create the bug.

[2020-01-10 10:17] leehambley opened #184 "Broken link in documentation"
https://github.com/webscopeio/react-textarea-autocomplete#example-of-usage is broken, 404 on the surge.sh side.

[2020-01-10 11:48] jukben commented on #184
Thanks, fixed in 9a581b9ea01c4a6b1d551b45e485ddc6d22e7237

[2020-01-10 11:48] #184 closed

[2020-01-28 19:20] louisbourque opened #185 "Invalid Regex when trigger contains multiple characters like (("
Version: 4.6.2

When specifying a trigger like '((', the second '(' character is not escaped in the generated Regex, causing it to be invalid:

Uncaught SyntaxError: Invalid regular expression: /(\[|\=|\(()((?:(?!\1)[^\s])*$)/: Unterminated group

The Regex should be /(\[|\=|\(\()((?:(?!\1)[^\s])*$)/

Example: https://codesandbox.io/s/silent-sound-e7uik

The same issue happens when the second char

[2020-01-31 13:57] jukben commented on #185
We need to properly escape every of trigger chars. Should be quite straightforward, since we already escape the first one. Do you wanna go for a PR?

[2020-01-31 20:56] louisbourque commented on #185
@jukben I'd be happy to give it a try. I had a look at it some more and it looks like the first character is always escaped. This means that if a trigger character of 's' is used, the trigger won't work. It's interpreted by the Regexp as a space character. Typing a space then another letter causes a TypeError because the trigger is not found:

TypeError
trigger[currentTrigger] is undefined

I'll w

[2020-02-02 18:30] #185 closed

[2020-02-02 18:44] jukben commented on #185
Released in https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v4.6.3 Thanks for contribution!

[2020-02-17 21:19] nhelldorff opened #187 "Overload setCaretPosition to also take selection position as params"
It would be nice if the method `setCaretPosition` could have the following signature.
`setCaretPosition(selectionStart, selectionEnd)`
or also allow the usage of `setSelecetionRange`.

[2020-05-20 04:39] grahammcculloch commented on #150
FWIW, having examined the source code for `react-textarea-autocomplete` and `react-autosize-textarea` I concluded they are now incompatible as of v7.0.0 of `react-autosize-textarea` as the [`TextareaAutosize` component expects a ref object rather than a function](https://github.com/buildo/react-autosize-textarea/blob/v7.0.0/src/TextareaAutosize.tsx#L68) for the textarea ref whereas [`react-textare

[2020-06-02 04:37] anika-ahluwalia opened #189 "Space Added When Selected"
Hi! When I select an option, a space is always added after it in the textarea. How could I get rid of this? Thank you!

[2020-06-02 05:19] #189 closed

[2020-06-04 17:08] anika-ahluwalia opened #190 "Triggers as caret positions or new line"
Hi! Is it possible to have a trigger activated when the caret is at the start or when the user hits enter? Thank you!

[2020-06-05 15:01] jukben commented on #190
Unfortunately, this is not possible with the current implementation. You can trigger the autocomplete only with specific `tiggerChar`.

[2020-06-26 21:52] Sarthak-Agrawal commented on #180
@jukben Is it possible to trigger autocomplete with an empty string? I tried it here: [codesandbox](https://codesandbox.io/s/festive-worker-qqcmm?file=/src/App.js)
I tried setting he trigger as `""` and `null` but to no avail.
Usecase: Render auto-suggestions depending on the input letter.

[2020-06-26 22:11] Sarthak-Agrawal opened #193 "Allow different `minChar` for each trigger in ReactTextareaAutocomplete"
Consider user mentions and emojis.
For user mentions, I would like to show username suggestions only after first character is entered after `@` and for emojis I would like to show emojis suggestions directly after `:` is entered.

[2020-07-01 22:54] haveanicedavid opened #194 "allowWhitespace breaks search trigger"
![demo](http://g.recordit.co/VCNLojs4r9.gif)

In the above, I have two triggers. One for `((` (which allows whitespace), one for `#` (which does not). You can see when I type the `((` trigger, additional input doesn't update the search, whereas using `#` it updates appropriately

When whitespaces are allowed, the dataProvider doesn't seem to be making subsequent search calls after the initial lett

[2020-07-02 08:24] jukben commented on #194
Hey, thanks for the issue report. I'm afraid that this might be bug in `allowWhitespace` implementation 😞. As I remember the implementation is very clumsy. However, I won't find time to fix it anytime soon – you can try your luck tho.

[2020-07-02 08:37] jukben commented on #194
Haha, I spent 10 mins just to double check what's the expected behavior and I realized that you are responsible for doing that "search" logic within `dataProvider` implementation. So I guess if you do something like:

[code]

It should work just fine. Can you try it?

[2020-07-03 01:36] haveanicedavid commented on #194
I'm not sure I'm following. I can change the logic within the `dataProvider`, however the core issue is that the provider only seems to be called once - on initial text input. So in the gif, it picks up the initial `a`, but no subsequent characters - putting a console log in like this:
[code]
... only fires `token` once.

I'll try to dig into it a bit later this weekend

[2020-07-04 09:36] neowenshun opened #195 "Storing autocomplete data to a array"
Hello , just wanted to check if it is possible to store the selected data to an array , I don't seem to be able to find information on this , would greatly appreciate some help on this!

[2020-07-04 16:59] neowenshun opened #196 "Returning Dom elements in output instead of just texts"
Hey , great package so far ! I was thinking of utilizing 'antd' tag components to distinguish the selected item and the normal texts  , however it seems that it is not possible to return anything other than strings within the output method , is this an intended effect? If it is , is there a way where i can go around it and add in components within the output?

[2020-07-04 17:26] neowenshun commented on #195
I realized that it is possible to use the onItemSelected pass the selected data and store it somewhere. However , i also realized that if the user deletes the stuff that he selected , after the selection , this event would not be captured. Is it possible to get the 'final' selected items as a whole? Sorry if im asking lots of noob questions !

[2020-07-13 08:27] jukben commented on #194
You are right. I was able to reproduce it. I will try to find time to look at it.

[2020-07-13 08:32] jukben commented on #196
That `component` property won't help? With that you can render text returned from output function as you wish, don't you?

[2020-07-13 08:34] jukben commented on #195
Sorry, this usecase is not supported.

[2020-07-15 14:27] Sarthak-Agrawal opened #197 "Provide functionality to input custom menu list,just like custom Menu Item renderer."
It would be great if you could provide the functionality to override the Menu renderer just like the Menu item renderer.

[2020-07-31 19:47] jukben commented on #194
I was able to find out that this issue emerges when you use multichar trigger like `((`

[2020-07-31 20:49] #194 closed

[2020-07-31 20:52] jukben commented on #194
Deployed fix in https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v4.7.1

Please, test it if it works for your use-case and enjoy. 🚀

[2020-08-11 12:15] Aashishgtbit opened #200 "If we append "$" before output text it is not returning the final string with "$" with text. Look like there is some (regex issue)."
Here is the link for the same issue : [https://codepen.io/coderFriend/pen/OJNyMdv](url).

[2020-08-12 18:39] haveanicedavid commented on #194
Apologies for a very delayed reply - I'm normally good at checking git notifications but missed this!

I actually switched to use a different library for my feature but ultimately circled back to yours after that route was causing way more of a headache - your fix works perfectly!

Loving the library. Thank you 🙏

[2020-08-13 01:34] haveanicedavid opened #201 "scroll behavior not working for me"
Hi again! I'm not sure if this is because of how i'm using the component, but I'm having trouble getting the scroll behavior to work. I've been trying to troubleshoot but am struggling a bit.

![](http://g.recordit.co/YvM63wvY3b.gif)

It looks like the `container` HTMLDivElement being referenced to scroll (where you're setting the `scrollTop`) is the container div (which `dropdownClassname` refere

[2020-08-13 06:20] davidmz opened #202 "Remove the debug (?) console output from production code"
This line: https://github.com/webscopeio/react-textarea-autocomplete/blob/dd32e095dfebf4a589a9d07027d8efe7bf067746/src/Textarea.jsx#L664 prints console message on each component initialization.

[2020-08-13 07:37] jukben commented on #201
Oh, my, that code is actually rusty as hell 😅.

Can you create some repro? https://codepen.io/jukben/pen/poygeKK I tried this one, this actually works as intended I hope.

Unfortunately, I don't have much time to maintain this library. The whole codebase it's literally begging for rewrite (which won't happen).

[2020-08-13 07:41] jukben commented on #202
Great catch, I prepared a PR so get rid of it ASAP. Next time feel free to send PR as well! 🙏

[2020-08-13 07:48] #202 closed

[2020-08-28 02:58] huffyq opened #204 "Cannot retain trigger characters"
Please ignore, solved

[2020-09-01 01:49] #204 closed

[2020-09-01 09:51] andersHj opened #205 "Make suggestion list trigger after correcting typo when allowWhitespace is active"
Hi, when using the allowWhitespace option and typing something with several words, it would be nice to make the suggestion list reappear in the case where you make a typo so the list disappears, and then hit backspace to fix your error. The way it is now I have to go all the way back to the first word to get it to reappear.

Example:
![text-area-autocomplete](https://user-images.githubusercontent.

[2020-09-12 03:57] xchau opened #206 "Allow custom props to be passed alongside custom text area component"
I am using my own "textarea" component that does some text manipulations under the hood, like so:

[code]

However, my issue is that `CustomTextArea`'s custom logic is dependent on an upstream node's props. Is there a way for me to pass down that upstream node's props? I'm imagining something like:

[code]

[2020-09-12 16:48] jukben commented on #206
Hey this is unfortunately not possible. I recommend to make fork with this feature. Another way is to use patch-package. https://github.com/ds300/patch-package

[2020-09-23 06:09] adithya123adia opened #207 "how to trigger dropdown on press of control+space"
Hi, I reffered this example https://codesandbox.io/s/k34153yp0v and the trigger value is ":" and its working fine. If I want to trigger dropdown on press of control+space insted of ":" , is it possible ?

[2020-09-23 07:57] jukben commented on #207
That's unfortunately not possible with current API

[2020-09-23 07:57] #207 closed

[2020-10-15 10:13] darshanksexathought opened #209 "Suggestion position is wrong"
if (dropdownBottom > containerBounds.bottom) {
      topPosition = top - dropdownBounds.height;
      usedClasses.push(POSITION_CONFIGURATION.Y.TOP);
      unusedClasses.push(POSITION_CONFIGURATION.Y.BOTTOM);
    } else {
      topPosition = top;
      usedClasses.push(POSITION_CONFIGURATION.Y.BOTTOM);
      unusedClasses.push(POSITION_CONFIGURATION.Y.TOP);
    }

according to this code, it only c

[2020-10-30 09:40] ThomasAunvik opened #210 "Allow autocomplete to be selected when pressing space?"
Hi, i was wondering if it was possible to autocomplete whenever you hit the space key? As if you were hitting enter.

[2020-10-30 09:41] jukben commented on #210
Hey, that's great idea but unfortunately the API is not defined in that way.

[2020-10-30 09:50] ThomasAunvik commented on #210
That's unfortunate.

[2020-11-07 00:57] jonathanzong commented on #196
I was hoping for this too. In a data provider, the `component` property allows you to arbitrarily render the suggestions in the autocomplete list, but the `output` text itself has to be a string. Instead, I want to be able to wrap the `output` text in tags.
So for example, instead of replacing `:smile:` with `😊`, I want to be able to replace `:smile:` with `<span className="smile-emoji">smile</spa

[2020-11-25 11:50] tobiasbueschel commented on #196
Adding to what @jonathanzong said, it would be great to support this as it would help to easily build features such as:

**Input text**
[code]

**Renders to (I'm omitting some `span` elements for brevity)**
[code]

[2020-11-25 14:10] jukben commented on #196
Haha, love it @tobiasbueschel! I would love to help, but unfortunately the architecture is so rusty that it's not feasible to extend the API.

I'm looking for maintainer who would lead complete rewrite.

[2020-11-25 15:20] tobiasbueschel commented on #196
@jukben that could be a fun project, I wish I would have some more time! We would probably have to do something like this: https://github.com/lovasoa/react-contenteditable/blob/master/src/react-contenteditable.tsx

Happy Wednesday!

[2020-12-17 12:10] jngbng commented on #201
I have the similar problem.
When I press down arrow keyboard, suggestion dropdown doesn't scroll, while I can scroll it with mouse (trackpad.)
I resolved it by changing style of dropdown (Autocomplete).

[code]

[2020-12-22 10:44] anukul opened #211 "Allow empty text in output functor"
[code]
This fails because [this](https://github.com/webscopeio/react-textarea-autocomplete/blob/master/src/Textarea.jsx#L533) throws an error when text is `''`:
[code]
---
Use case: In my case a custom output is generated outside of the textarea when a selection is made, so I don't want anything to change in the textarea and also remove the trigger character on select.

[2021-01-04 11:20] #211 closed

[2021-01-04 11:28] jukben commented on #211
Released as https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v4.7.3

[2021-03-13 06:00] SaeedZhiany opened #213 "Add support for disabled prop"
Currently, this component only picks four props of `HTMLTextAreaElement`, it would be great if we have also the `disabled` prop support. Thanks!

[code]

[2021-03-13 06:12] SaeedZhiany commented on #213
It's already supported, my installed type definition package was an old version, upgraded to the latest and the problem has been resolved. I'm closing this issue.

[2021-03-13 06:12] #213 closed

[2021-03-23 12:47] anton6 opened #214 "Loading Component missing top/left style for first char"
When unresolved promise is returned by dataProvider (for example an async call over api to fetch suggestions), the loading component has missing top/left styles to position the loading component next to the carrot for the first character typed.

As a result the loading indicator is at the bottom of the textarea as per screenshot below:

<img width="517" alt="Screenshot 2021-03-23 at 12 42 16" src=

[2021-03-24 13:59] anton6 commented on #96
@superandrew213 can you please share a code snippet with the `debounce-promise`. In my case what sees to happen is it stacks all the calls to `dataProvider` and calls them all after the debounce period.

[2021-03-24 14:41] anton6 commented on #214
Looks like it broke during v4.2.3 commit "Improve autocomplete positioning" https://github.com/webscopeio/react-textarea-autocomplete/commit/8310e0abe671414654030c751d8b6cfe6cc01813

[2021-03-24 14:52] anton6 commented on #96
The problem was on my end, I was playing with `react-textarea-autocomplete` inside of react-styleguidst code snippet which triggers re-render on every update.

[2021-04-06 06:02] victorabraham opened #215 "Is it possible to add a way to set a default on load of the component?"
I cannot find a prop that we can use to set initial value. Is it possible?

[2021-04-06 08:35] jukben commented on #215
Hey, this should be possible with simple `value`. It will be passed to underlaying `textarea` 👍

[2021-04-13 14:41] victorabraham commented on #215
Thank you for the response.

[2021-04-13 14:41] #215 closed

[2021-05-10 16:48] CarlosHdez opened #216 "Update react version"
Would it be possible to change the peer dependecies for react from `^16.0.0` to maybe `>=16.0.0`? In my current project I'm using react 17.0.1 so I either need to install it with `--force` or `--legacy-peer-deps`.

Thanks

[2021-05-31 12:26] holgerschillack opened #217 "Undo/Ctrl-Z function is not working as expected"
When using autocomplete on e.g. the ":smile:" symbol in the example the input history gets deleted.
So Undo/Ctrl-Z only works back to the last autocomplete action.

Repro steps:

1) Use the example codepen [https://codepen.io/jukben/pen/bYZqvR](https://codepen.io/jukben/pen/bYZqvR)
2) type something, then type ':smile' and choose autocomplete, then type again something
3) Now you can only undo you

[2021-06-01 23:59] kyang6 commented on #189
How did you solve this?

[2021-06-08 09:45] SebastienAuvray commented on #180
Hi! I'm also interested in Sartahk's suggestion to trigger suggestions on ANY character.
I could generate a trigger object with any character, but it looks ugly ;-)
Could `trigger` be an object with a generic `get` inwhich I could return my filtered options for any character typed ?

[2021-07-15 21:47] lukaszmn opened #219 "Some triggers wipe entire text"
Please check https://codepen.io/lukaszmn/pen/poPeQrQ

The relevant part is here:

[code]

To reproduce:
1. Type anything in first line
1. Then type `/names` in the second line, followed by `n` (a shortcut for "nick")
1. Press ENTER - the first line is gone (and undo history is lost as well)

If you try with "kevin", it works well. That's because RTA always looks for the phrase from the beginning o

[2021-07-15 23:19] lukaszmn commented on #219
After some testing of the new Regex, I don't confirm it works well for all cases. Please help me by explaining the rationale for that Regex. Should it apply to which of these cases?

1. TRIGGER anything TRIGGER
2. TRIGGER TRIGGER anything
3. TRIGGER anything TRIGGER anything

Should the second TRIGGER be caught in all of these cases? If so, can't we just use lastIndexOf?

[2021-07-17 07:03] lukaszmn commented on #219
I fixed the regex, now it matches the last trigger. All tests pass, including the new one, and the behavior can be checked with this regex tester: https://regex101.com/r/DZ78UV/1/

[2021-08-24 07:31] #210 closed

[2021-09-29 21:03] sriramvenkateshan opened #222 "onScroll handler for underlying textarea does not get propagated correctly"
If we add the prop
`onScroll={(e) => {
   // do something here
}}`

the prop does not propagate correctly to the underlying textarea.
I find that we can correct this if we add the following change in TextArea.jsx:
`_onScrollHandler = (e: SyntheticFocusEvent<*>) => {
    const { onScroll } = this.props;
    if (onScroll) {
      e.persist();
      onScroll(e);
    }
    this._closeAutocomplete();

[2021-10-04 18:58] sriramvenkateshan commented on #222
<bump>

[2021-10-07 11:35] #219 closed

[2021-10-07 11:53] #164 closed

[2021-10-07 11:54] #179 closed

[2021-10-13 09:46] karaxuna opened #224 "Clicking on second suggestion replaces whole text"
Type `@first asd @s` and then select second from suggestion in [codepan example](https://codepen.io/karaxuna/pen/abyOyMd)

![tmp](https://user-images.githubusercontent.com/2152815/137109615-5519ef52-2ed4-4077-b646-23e8e97227ce.gif)

[2021-10-13 11:10] jukben commented on #224
It's rather workaround – I will definitely revisit it. I assume this is the root cause https://github.com/webscopeio/react-textarea-autocomplete/pull/220

[2021-10-13 11:18] karaxuna commented on #224
OK, thanks @jukben

[2021-10-13 11:43] karaxuna commented on #224
4.7.3 works fine.

[2021-10-13 19:20] jukben opened #226 "👋 Beware – not actively maintained. Looking for maintainer and leader of complete rewrite."
Hey! As title says unfortunately I don't have time to keep supporting this library. I'm glad you found some value in it – after all I built it all for you, I not using it actively in any of my projects.

The implementation is suboptimal and I wouldn't recommend to use this in business critical feature.

I'd be more than happy to have a call with you, if you would like to take it over. I have some

[2021-10-13 19:21] #224 closed, assigned to nobody

[2021-10-20 06:46] shiveshAmoga opened #227 "TypeError: Illegal invocation"

[2021-11-29 09:20] farzadniazmand opened #228 "Update React Version"
Please update react version to the newest. On react 17.0.2, I am having conflicting dependency error. Thanks in advance

![image](https://user-images.githubusercontent.com/27675685/143840918-a9e7491f-8c51-43a1-b0b9-c8a9d39858f8.png)

[2021-12-02 08:26] jakejakeho-seekers commented on #228
I have created PR: https://github.com/webscopeio/react-textarea-autocomplete/pull/229

[2021-12-04 10:00] jukben commented on #228
Should be fixed in https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v4.9.0 Thanks for contribution @jakejakeho-seekers

[2021-12-04 10:00] #228 closed

[2021-12-09 21:34] gaohongwei opened #230 "Does trigger support search from an array or api response?"
Does trigger support search from an array or api response?
The trigger  now takes a  predefined dictionary.  trigger are keys of dictionary
Can the trigger be current active word (or partial word), instead of the predefined chars or words?

dataProvider takes (token) as argument. What is the usage of it? How the value is passed to dataProvider?
Any sample?

This is good package. But it is a little

[2021-12-10 09:52] jwtong commented on #214
@anton6 Any workarounds that you found?

[2021-12-18 15:47] #209 closed

[2022-03-02 21:02] danieljaguiar opened #232 "TypeScript Example?"
I am trying to implement this in TypeScript but have no luck so far...

Implementing Trigger Prop is very challenging (I am new to TS as well)

**Has anyone implemented it?**

[2022-03-03 21:47] danieljaguiar commented on #140
Did you find a solution @fuzhengsong ?

[2022-03-03 21:49] danieljaguiar commented on #140
Never mind =)

`import "@webscopeio/react-textarea-autocomplete/style.css";`

[2022-03-24 21:05] BigBoi-TM opened #233 "Suggestion list position"
Howdyy, there a way to control the position of the suggestion list? Not like making it follow the caret, but like having it appear on the top or bottom of the text area.

[2022-08-11 15:31] sepulzera opened #234 "Add support for React 18"
This package requires `"react": "^16.0.0 || ^17",`.

Please add support for the latest react version. Thanks!

[2022-08-11 15:51] sepulzera commented on #232
Sorry for my late reply, you have probably already solved it by now. But in case anyone else is struggling either:

You can install the types, f. e. with npm:
[code]

And instanciate the Component like usally:

[code]

And here some of the used objects and types. Note that some of the types probably should be provided by the @ŧypes-package, but I could not get used to it by much.

[code]

If you w

[2022-08-11 16:11] sepulzera commented on #230
The triggerChar is supposed to be a single character, that will fetch and build the autocomplete-list. On pressing the triggerChar, the dataProvider is called, and will get all following characters. The dataProvider could be a Promise, like an api-call, and the result is used to build the list.

Example:
[code]

One can then type ':Beet' and the autocomplete-list will show all recipes for 'Beet'.

[2022-08-11 16:16] sepulzera commented on #230
And just some clarification:

This is probably undefined behaviour, but you could change the triggerChar dynamically. Just be aware that this package will treat the triggerChar as a single char, so changing the trigger char to a word could cause trouble for the dataProvider-function or whatelse.

Example:
[code]

One can then type 'appleJ' and the fetchRecipeList-function would get passed 'ppleJ'.

[2022-08-11 17:03] elmasse commented on #234
:+1:

[2022-09-20 20:26] CosticaPuntaru opened #235 "defaultValue not supported"
I recommend to add support for the defaultValue behavior in react

[2022-10-14 14:24] #234 closed

[2022-10-14 14:31] jukben commented on #234
https://github.com/webscopeio/react-textarea-autocomplete/releases/tag/v4.9.2

[2022-11-05 06:57] rahulpba opened #237 "Remove Space After the AutoCompleted Text"
Hi,
I don't want to append the space after the autocomplete item is selected. If you can provide any option to do that. That will be helpful for my needs

[2022-11-15 12:10] #237 closed, assigned to nobody